<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async) || !(activeList$ | async)"
  >
    <mat-toolbar color="primary">
      <h5>Listes</h5>
      <span class="toolbar-spacer"></span>

      <button
        mat-icon-button
        matTooltip="Créer une nouvelle liste d'envies"
        matTooltipPosition="left"
        routerLink="/addList"
      >
        <mat-icon>playlist_add</mat-icon>
      </button>
    </mat-toolbar>

    <div *ngIf="!(loading$ | async); else loading" class="content_sidenav">
      <mat-accordion multi="true" displayMode="flat">
        <mat-expansion-panel
          class="mat-elevation-z0 badge-expansion-panel"
          expanded="true"
          *ngIf="(myListCount$ | async) as myListCount"
        >
          <mat-expansion-panel-header>
            <mat-panel-title
              [matBadge]="myListCount"
              matBadgeColor="accent"
              matBadgeSize="small"
            >
              Mes listes
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-nav-list>
            <wish-list-item
              *ngFor="let wishList of (myList$ | async); trackBy: trackByFn"
              [wishlist]="wishList"
              [active]="wishList.name === (activeList$ | async)"
              class="wishListCard"
              mat-list-item
              (click)="isHandset ? drawer.close() : true"
            >
            </wish-list-item>
          </mat-nav-list>
        </mat-expansion-panel>
        <mat-expansion-panel
          expanded="true"
          *ngIf="(otherListCount$ | async) as otherListCount"
          class="mat-elevation-z0 badge-expansion-panel"
        >
          <mat-expansion-panel-header>
            <mat-panel-title
              [matBadge]="otherListCount"
              matBadgeColor="accent"
              matBadgeSize="small"
            >
              Autres listes partagées
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-nav-list>
            <wish-list-item
              *ngFor="let wishList of (otherList$ | async)"
              [wishlist]="wishList"
              [active]="wishList.name === (activeList$ | async)"
              class="wishListCard"
              mat-list-item
            >
            </wish-list-item>
          </mat-nav-list>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <ng-template #loading>
      <div fxLayout="column" fxLayoutAlign="center center">
        <mat-spinner></mat-spinner>
      </div>
    </ng-template>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <a routerLink="/" class="title" i18n="app title">
        <span><mat-icon fontSet="fa" fontIcon="fa-gift"></mat-icon></span>
        Listes de mes envies</a
      >

      <mat-form-field *ngIf="!(loading$ | async)">
        <input
          matInput
          placeholder="Changer de liste"
          aria-label="State"
          [matAutocomplete]="auto"
          [formControl]="selectListControl"
        />
        <mat-autocomplete
          #auto="matAutocomplete"
          panelWidth="250"
          (optionSelected)="goToList($event)"
        >
          <mat-optgroup label="Mes listes">
            <mat-option
              *ngFor="let wishList of (myList$ | async); trackBy: trackByFn"
              [value]="wishList.name"
            >
              <img
                class="example-option-img"
                aria-hidden
                [src]="'/assets/thumb/' + wishList.picture"
                height="15"
                width="15"
                class="border fixed"
              />
              <span>{{ wishList.title }}</span> |
              <small
                ><span *ngFor="let owner of wishList.owners">{{
                  owner.name
                }}</span></small
              >
            </mat-option>
          </mat-optgroup>
          <mat-optgroup label="Autres listes">
            <mat-option
              *ngFor="let wishList of (otherList$ | async); trackBy: trackByFn"
              [value]="wishList.name"
            >
              <img
                class="example-option-img"
                aria-hidden
                [src]="'/assets/thumb/' + wishList.picture"
                height="15"
                width="15"
                class="border fixed"
              />
              <span>{{ wishList.title }}</span> |
              <small>{{ wishList.owners | join: ", " }}</small>
            </mat-option>
          </mat-optgroup>
        </mat-autocomplete>
      </mat-form-field>

      <div *ngIf="(userAuth$ | async) as user; else showLogin">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="notifs.toggle()"
        >
          <mat-icon
            aria-label="Side nav toggle icon"
            [matBadge]="notifsCount$ | async"
            matBadgeColor="warn"
            >notifications_active</mat-icon
          >
        </button>
        <button mat-button [mat-menu-trigger-for]="connected">
          <span>
            <ngx-avatar
              [name]="user.displayName"
              [src]="user.photoURL"
              [gravatarId]="user.email"
              size="30"
              [round]="true"
            >
            </ngx-avatar>
            {{ user.displayName }}</span
          >
          <mat-icon>arrow_drop_down</mat-icon>
        </button>
      </div>
      <ng-template #showLogin>
        <button mat-button routerLink="/about">
          <mat-icon>info</mat-icon>
          En savoir plus
        </button>
        <button mat-button (click)="connect()">
          <mat-icon>login</mat-icon>
          Connexion
        </button>
      </ng-template>
    </mat-toolbar>

    <mat-menu yPosition="above" xPosition="before" #connected="matMenu">
      <button (click)="logout()" mat-menu-item>
        <mat-icon>logout</mat-icon>
        Déconnection
      </button>
      <button mat-menu-item disabled>
        <mat-icon>person</mat-icon>
        Profil
      </button>
      <button mat-menu-item routerLink="/about">
        <mat-icon>info</mat-icon>
        En savoir plus
      </button>
    </mat-menu>
    <ng-content></ng-content>
  </mat-sidenav-content>

  <mat-sidenav
    #notifs
    class="sidenav"
    fixedInViewport="false"
    attr.role="dialog"
    mode="over"
    position="end"
    fixedTopGap="70"
  >
    <mat-toolbar color="primary">Notifications </mat-toolbar>
    <app-notifications
      (onSelect)="closeNotifications(notifs)"
    ></app-notifications>
  </mat-sidenav>
</mat-sidenav-container>
