.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 300px;
  box-shadow: 3px 0 6px rgba(0, 0, 0, 0.24);

  .mat-drawer-inner-container {
    overflow: hidden;
    height: 100%;
  }

  .content_sidenav {
    flex: 1;
    overflow-y: scroll;
    height: calc(100% - 64px);
  }
}

mat-toolbar {
  a.title,
  a:active.title,
  a:visited.title {
    padding-left: 5px;
    flex: 1;
    color: #fff;
    text-decoration: none;
  }

  ngx-avatar {
    float: left;
    margin-right: 10px;
  }
}
.wishListCard {
  display: block;
  font-size: 10px;
}
