<div class="container-fluid" translate-namespace="ADD_WISH">


    <div class="navbar navbar-default navbar-form" >
        <label class="navbar-brand" translate=".CHOOSE_LIST"></label>
        <div class="form-group btn btn-white btn-xs">
            <select name="" id="" ng-if="vm.wishLists != null" ng-model="vm.name"
                    class="form-control">

                    <option selected disabled value="" translate>.CHOOSE_LIST_PLACEHOLDER</option>
                <optgroup translate translate-attr-label=".CHOOSE_MY_LIST_PLACEHOLDER">
                    <option ng-class="{active:aWishList.owner}" ng-repeat="aWishList in vm.wishLists | filter : {owner: true}" value="{{aWishList.name}}">
                        {{aWishList.title}}
                    </option>
                </optgroup>
                <optgroup translate translate-attr-label=".CHOOSE_OTHER_LIST_PLACEHOLDER">
                    <option ng-class="{active:aWishList.owner}" ng-repeat="aWishList in vm.wishLists | filter : {owner: false}" value="{{aWishList.name}}">
                        {{aWishList.title}} {{(!aWishList.owner)? '*': ''}}
                    </option>
                </optgroup>

            </select>
        </div>

    </div>

    <p translate>
        .NO_OWNER_LIST_TIPS
    </p>


    <div class="row list-envie" masonry='{ "transitionDuration" : "0.4s" , "itemSelector" : ".envie-card", "percentPosition": "true" }'>
        <wish-card masonry-tile
                   wish="vm.newWish"
                   owner-list="vm.listEnvies.owner"
                   user="main.user"
                   parent-controller="vm"
                   list-name = "vm.name"
                   class="envie-card envie-card col-xs-12 col-sm-6 col-md-4 col-lg-4" >

        </wish-card>
    </div>

</div>