<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                <form class="form-inline" ng-if="vm.editTitle">
                    <div class="form-group">
                        <input type="text" class="form-control title-edit" ng-model="vm.listEnvies.title" placeholder="@">
                    </div>
                    <button type="submit" class="btn btn-success" ng-click="vm.saveListEnvies(vm.listEnvies);"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span><span class="sr-only">Ajouter</span></button>
                </form>
                <span class="title" ng-if="!vm.editTitle">
                    {{vm.listEnvies.title}}
                    <button type="button" class="btn btn-default" tooltip="Partager votre liste" ng-if="vm.listEnvies.owner" ng-click="vm.editTitle = true">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span><span class="sr-only">Partager</span>
                    </button>
                    <small> de <span class="owners" ng-repeat="owner in vm.listEnvies.owners">{{owner.name}}({{owner.email}})<span ng-if="!$last" >, </span> </span></small>
                </span>
                <button type="button" class="btn btn-default pull-right" data-toggle="modal" data-target="#share-list" tooltip="Partager votre liste" ng-if="vm.listEnvies.owner">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span><span class="sr-only">Partager</span>
                </button>
            </h1>
        </div>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="share-list">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Partager votre liste</h4>
                </div>
                <div class="modal-body">
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="user in vm.listEnvies.users" ng-class="{active:user.type == 'OWNER'}">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{user.email}}
                            <button type="button" class="btn btn-xs btn-warning pull-right" ng-click="vm.removeUser(user);" aria-label="Partager votre liste" ng-if="user.email != main.user.email">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button>
                        </li>
                    </ul>
                    <form class="form-inline">
                        <div class="form-group">
                            <label for="new-email">Email</label>
                            <input type="email" class="form-control" id="new-email" ng-model="vm.newUser.email" placeholder="@">
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="" ng-true-value="'OWNER'" ng-false-value="'SHARED'" ng-model="vm.newUser.type">
                                    Co-Bénéficiaire
                                </label>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-default" ng-click="vm.shareUser(vm.newUser);"><span class="glyphicon glyphicon-share" aria-hidden="true"></span> Ajouter</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                    <button type="submit" class="btn btn-primary" ng-click="vm.saveListEnvies(vm.listEnvies)">Enregistrer</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div class="row row-fluid list-envie">
        <div class="loading" ng-if="vm.loading">
            <div class='loader'>
                <div class='loader--dot'></div>
                <div class='loader--dot'></div>
                <div class='loader--dot'></div>
                <div class='loader--dot'></div>
                <div class='loader--dot'></div>
                <div class='loader--dot'></div>
                <div class='loader--text'></div>
            </div>
        </div>
        <div id="envie{{envie.id}}"  ng-repeat="envie in vm.envies" >
            <div data-ng-show="$index % 3 == 0" class="envie-separator"></div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" >
                <div class="panel envie-item"  ng-class="{'panel-danger':envie.userTakeUsers, 'panel-info':envie.suggest, 'panel-success':!envie.userTakeUsers}">
                    <div class="panel-heading">
                        <span class="badge pull-right">{{envie.price}}</span>
                        <h1>{{envie.label}}</h1>
                        <p><i class="fa fa-smile-o fa-lg"></i> 
                            <a href="javascript:;"><i>{{envie.ownerUser.name}}</i></a>
                        <i class="fa fa-gift fa-3x pull-right logo-envie"></i></p>
                    </div>
                    <div class="panel-body">
                        <a ng-if="envie.picture" ng-href="{{envie.picture}}" target="_blank" class="thumbnail">
                            <img ng-src="{{envie.picture}}" alt="Image Envie">
                        </a>
                        <p class="text-center">{{envie.description}}</p>
                        <div ng-if="envie.urls && envie.urls.length > 0">
                            <a ng-href="{{link.url}}" ng-repeat="link in envie.urls" target="_blank" class="btn btn-block btn3d btn-default"><i class="fa fa-external-link"></i><b>   {{link.name||"Plus d'informations"}}  </b></a>
                        </div>
                        <!--<p class="text-warning"><b>574</b> subscribers <span title="Rating"><i class="fa fa-star-half-empty fa-lg pull-right"></i><i class="fa fa-star fa-lg pull-right"></i><i class="fa fa-star fa-lg pull-right"></i><i class="fa fa-star fa-lg pull-right"></i><i class="fa fa-star fa-lg pull-right"></i></span></p>-->
                        <button type="button" class="btn btn-warning edit-button" ng-if="vm.listEnvies.owner || envie.owner == main.user.email" ng-click="vm.editEnvie(envie)">Modifier</button>
                    </div>
                    <div class="panel-heading bottom-envie" ng-if="!vm.listEnvies.owner">
                        <!--<div class="row">
                            <div class="col-xs-4 col-md-4" title="Receba até 42 de Status">
                                <p class="text-center"><i class="glyphicon glyphicon-stats fa-2x "></i><span class="badge">42</span></p>
                            </div>
                            <div class="col-xs-4 col-md-4" title="Ganhe até 3 Badges">
                                <p class="text-center"><i class="glyphicon glyphicon-fire fa-2x "></i><span style class="badge"></span><span class="badge">3</span></p>
                            </div>
                            <div class="col-xs-4 col-md-4" title="Ganhe Certificado">
                                <p class="text-center"><i class="glyphicon glyphicon-file fa-2x"></i><span class="badge">1</span></p>
                            </div>
                        </div>-->
                        <div title="Cadeau" class="gift pull-right">
                            <h6 ng-if="!vm.listEnvies.owner && envie.userTakeUsers"><i class="fa fa-gift"></i> Offert par {{envie.userTakeUsers}} &nbsp;&nbsp;&nbsp;
                                <button type="button" class="btn btn-danger" ng-if="envie.userTake.indexOf(main.user.email) >= 0" ng-click="vm.cancel(envie.id)">Annuler</button>
                                <button type="button" class="btn btn-success btn3d" ng-if="envie.userTake.indexOf(main.user.email) < 0" ng-click="vm.given(envie.id)"><i class="fa fa-gift fa-lg fa-fw"></i><b>Participer</b></button>
                            </h6>
                            <button type="button" class="btn btn-success btn3d" ng-if="!vm.listEnvies.owner && !envie.userTakeUsers" ng-click="vm.given(envie.id)"><i class="fa fa-gift fa-lg fa-fw"></i><b>Offrir</b></button>
                        </div>

                        <div class="comments" >
                            <a class="btn btn-link" role="button" aria-expanded="false" aria-controls="collapseExample" ng-click="vm.openComment($index)">
                                <i class="fa fa-comments"></i> Commmentaires ({{envie.notes.length || 0}})
                            </a>
                            <div class="collapse" id="comment-{{$index}}">
                                <div class="chat">
                                    <div class="chat-history">
                                        <ul class="chat-ul">
                                            <li ng-repeat="note in envie.notes" ng-class="{'clearfix':$odd}">
                                                <div class="message-data" ng-class="{'align-right':$odd}">
                                                    <span class="message-data-name"><i class="fa fa-circle you"></i>&nbsp; <strong> {{note.owner}}</strong> <span class="text-muted" ng-class="{'pull-left':$odd}" am-time-ago="note.date">commented 5 days ago</span></span>
                                                </div>
                                                <div class="message" ng-class="{'float-right':$odd, 'me-message':$odd, 'you-message':$even}">
                                                    {{note.text}}
                                                </div>
                                            </li>
                                        </ul>
                                    </div> <!-- end chat-history -->
                                </div> <!-- end chat -->
                                <form class="form">
                                    <div class="form-group">
                                        <label for="note-{{$index}}">Commentaires</label>
                                        <textarea class="form-control comment-textarea" id="note-{{$index}}" ng-model="note.text" >
                                        </textarea>
                                    </div>
                                    <button type="submit" class="btn btn-default" ng-click="vm.addNote(envie, note)">Commenter</button>
                                </form>
                            </div>
                        </div>
                        <!--<p></p><br>
                        <p><span class="label label-success">Tecnologia</span><span class="label label-warning">Programação</span><span class="label label-danger">Python</span><span class="label label-info">Dinâmica</span></p>-->
                    </div>
                </div>
            </div>
        </div>
        <div data-ng-show="$index % 3 == 0" class="envie-separator"></div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" >
            <form id="formEdit">
                <div class="panel envie-item"  ng-class="{'panel-danger':envie.userTake, 'panel-info':envie.suggest, 'panel-success':!envie.userTake}">
                    <div class="panel-heading">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Titre</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" ng-model="vm.envie.label">
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="description">Description</label>
                        <textarea class="form-control"  id="description" ng-model="vm.envie.description" >
                        </textarea>
                        </div>
                        <div class="form-group">
                            <label for="link-url">Urls</label>
                            <div ng-repeat="link in vm.envie.urls" class="links-editor">
                                <input type="url" class="form-control" id="url-{{$index}}" ng-model="link.url" placeholder="http://">
                                <input type="text" class="form-control" id="name-{{$index}}" ng-model="link.name" placeholder="texte du lien">
                            </div>
                            <div class="links-editor">
                                <input type="url" class="form-control" id="link-url" ng-model="vm.link.url" placeholder="http://">
                                <input type="text" class="form-control" id="link-name" ng-model="vm.link.name" placeholder="texte du lien">
                                <button type="submit" class="btn btn-success" ng-click="vm.addLink(vm.link);"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span><span class="sr-only">Ajouter le lien</span></button>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="price">Prix</label>
                            <input type="text" class="form-control" id="price" ng-model="vm.envie.price" placeholder=" € ">
                        </div>
                        <div class="form-group">
                            <label for="picture">Image</label>
                            <input type="url" class="form-control" id="picture" ng-model="vm.envie.picture">
                        </div>
                    </div>
                    <div class="panel-heading bottom-envie">
                        <button type="submit" class="btn btn-default" ng-click="vm.addEnvie(vm.envie)">{{vm.envie.id ? 'Modifier' : 'Ajouter'}}</button>
                        <button type="submit" class="btn btn-link" ng-click="vm.envie = {}">Annuler</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>