<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Liste de mes envies
                <small>Accueil</small>
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="jumbotron">
                <p>Bonjour, <strong>{{main.user.name}}</strong>! Bienvenue sur votre liste des envies</p>
                <button class="btn btn-primary btn-lg" role="button" data-toggle="modal" data-target="#new-list">Créer une liste</button>
            </div>
        </div>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="new-list">
        <div class="modal-dialog" role="document">
            <form>
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Créer une liste d'envie</h4>
                </div>
                <div class="modal-body">

                        <div class="form-group">
                            <label for="title">Titre</label>
                            <input type="text" class="form-control" id="title" ng-model="vm.newlist.title" required placeholder="Liste de {{main.user.name}}">
                        </div>
                        <div class="form-group" ng-if="main.isAdmin">
                            <label for="email">Bénéficiaire (ou vide si vous)</label>
                            <input type="email" class="form-control" id="email" ng-model="vm.newlist.owner" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label for="emails">Partager à :</label>
                            <textarea class="form-control" id="emails" ng-model="vm.newlist.emails" placeholder="Emails des personnes à qui partager votre liste (un par ligne)"></textarea>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                    <button type="submit" class="btn btn-primary" ng-click="vm.addNewList(vm.newlist, vm.newlist.email || main.user.email)">Créer et ajouter vos envies</button>
                </div>
            </div><!-- /.modal-content -->
            </form>
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div class="list-group">
        <div class="loading" ng-if="vm.loading"> <div class='loader'>
            <div class='loader--dot'></div>
            <div class='loader--dot'></div>
            <div class='loader--dot'></div>
            <div class='loader--dot'></div>
            <div class='loader--dot'></div>
            <div class='loader--dot'></div>
            <div class='loader--text'></div>
        </div></div>
        <a class="list-group-item" ng-class="{active:listenvies.owner}" ng-click="vm.goList(listenvies.name)" ng-repeat="listenvies in vm.envies">
            <h4 class="list-group-item-heading">{{listenvies.title}}</h4>
            <p class="list-group-item-text">{{listenvies.description}}</p>
            <p class="list-group-item-text"> de <span class="owners" ng-repeat="owner in listenvies.owners">{{owner.name}}({{owner.email}})<span ng-if="!$last" >, </span></span>  </p>
        </a>
    </div>

    <form ng-if="main.isAdmin">
        <h2>Ajouter un utilisateur</h2>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" ng-model="vm.newuser.email" placeholder="Email">
        </div>
        <div class="form-group">
            <label for="name">Nom</label>
            <input type="text" class="form-control" id="name" ng-model="vm.newuser.name" placeholder="Nom">
        </div>
        <button type="submit" class="btn btn-default" ng-click="vm.addUser(vm.newuser)">Ajouter</button>
    </form>

</div>