<page scope="vm">
    <div class="container-fluid" translate-namespace="PROFIL_PAGE">
        <div class="main main-raised home-header profil-page col-lg-4 col-lg-offset-4">
            <h1 translate>.TITLE</h1>
            <div class="form-group">
                <label for="email" translate>.EMAIL</label>
                <input type="email" class="form-control" id="email" ng-model="vm.user.email">
            </div>
            <div class="form-group">
                <label for="name" translate>.NAME</label>
                <input type="text" class="form-control" id="name" ng-model="vm.user.name">
            </div>

            <div class="form-group">
                <label for="name" translate>.BIRTHDAY</label>
                <div class="input-group"><input type="date" class="datepicker form-control" ng-model="vm.user.birthday"><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
                <p translate>.BIRTHDAY_INFO</p>
            </div>
            <button type="submit" class="btn btn-default btn-primary" ng-click="vm.saveUser()" translate>.SAVE</button>
        </div>
    </div>
</page>