<div class="user-share-add layout-row-wrap space-between-center gap-10">
  <mat-form-field appearance="outline" class="col-12">
    <mat-label>Emails</mat-label>
    <input
      matInput="email"
      type="email"
      [placeholder]="placeholder"
      [formControl]="addEmailsControl"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="selectedUsers($event)"
    >
      @for (user of users; track user) {
      <mat-option [value]="user">
        {{ user.email }} - {{ user.name }}
      </mat-option>
      }
    </mat-autocomplete>
    <button mat-mini-fab matSuffix (click)="addUsers()" class="col-1">
      <mat-icon>person_add</mat-icon>
    </button>
    <mat-hint
      ><mat-checkbox
        name="addOwnersControl"
        [formControl]="addOwnersControl"
        value="true"
        labelPosition="left"
        matTooltip="Cette personne recevra les cadeaux avec vous, pourra modifier la liste, et ne pourra pas voir les envies données"
      >
        Co-Bénéficiaire
      </mat-checkbox></mat-hint
    >
  </mat-form-field>
</div>
@if (addEmailsControl.value) {
<mat-error>
  Cliquez sur l'icone + pour partager cette liste à cet email
</mat-error>
}
<br />
<mat-divider></mat-divider>
<br /><br />
@if (value && value.length > 0) {
<div class="mat-elevation-z3 user-share-container">
  <mat-list>
    <div mat-subheader>Co-Bénéficiaires</div>
    @for (owner of value; track owner) { @if (owner.type === 'OWNER') {
    <ng-container
      *ngTemplateOutlet="userShareLine; context: { $implicit: owner }"
    >
    </ng-container>
    } }
    <mat-divider></mat-divider>
    <div mat-subheader>Participants</div>
    @for (participant of value; track participant) { @if (participant.type !==
    'OWNER') {
    <ng-container
      *ngTemplateOutlet="userShareLine; context: { $implicit: participant }"
    >
    </ng-container>
    } }
  </mat-list>
  <ng-template #userShareLine let-userShare>
    <mat-list-item>
      <app-avatar
        matListAvatar
        [gravatarId]="userShare?.email"
        [matTooltip]="userShare?.name || userShare?.email"
        [name]="userShare?.name || userShare?.email"
        [round]="true"
        matTooltipPosition="below"
        size="30"
      >
      </app-avatar>
      <div mat-line>{{ userShare?.name }}</div>
      <div mat-line>{{ userShare?.email }}</div>
      <button
        mat-icon-button
        class="button-remove-user"
        matTooltip="Ne plus partager la liste avec cette personne"
        (click)="removeUser(userShare)"
      >
        <mat-icon aria-label="Supprimer">person_remove</mat-icon>
      </button>
    </mat-list-item>
  </ng-template>
</div>
}
