<div
  fxLayout="row wrap"
  fxLayoutAlign="space-between center"
  fxLayoutGap="10px"
  class="user-share-add"
>
  <mat-form-field appearance="outline" class="col-12">
    <mat-label>Emails</mat-label>
    <input
      matInput="email"
      type="email"
      [placeholder]="placeholder"
      [formControl]="addEmailsControl"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="selectedUsers($event)"
    >
      <mat-option *ngFor="let user of users" [value]="user">
        {{ user.email }} - {{ user.name }}
      </mat-option>
    </mat-autocomplete>
    <button mat-mini-fab matSuffix (click)="addUsers()" class="col-1">
      <mat-icon>person_add</mat-icon>
    </button>
    <mat-hint
      ><mat-checkbox
        name="addOwnersControl"
        [formControl]="addOwnersControl"
        value="true"
        labelPosition="left"
        matTooltip="Cette personne recevra les cadeaux avec vous, pourra modifier la liste, et ne pourra pas voir les envies donnés"
      >
        Co-Bénéficiaire
      </mat-checkbox></mat-hint
    >
  </mat-form-field>
</div>
<mat-error *ngIf="addEmailsControl.value">
  Cliquez sur l'icone + pour partager à cet email
</mat-error>
<br />
<mat-divider></mat-divider>
<br /><br />
<div
  *ngIf="value && value.length > 0"
  class="mat-elevation-z3 user-share-container"
>
  <mat-list>
    <div mat-subheader>Co-Bénéficiaire</div>
    <ng-container *ngFor="let owner of value">
      <mat-list-item *ngIf="owner.type === 'OWNER'">
        <button
          mat-icon-button
          mat-list-icon
          class="button-remove-user"
          matTooltip="Ne plus partager avec ce co-bénéficiaire"
          (click)="removeUser(owner)"
        >
          <mat-icon aria-label="Supprimer">person_remove</mat-icon>
        </button>
        <div mat-line>{{ owner.name }}</div>
        <div mat-line>{{ owner.email }}</div>
      </mat-list-item>
    </ng-container>
    <mat-divider></mat-divider>
    <div mat-subheader>Participant</div>
    <ng-container *ngFor="let participant of value">
      <mat-list-item *ngIf="participant.type !== 'OWNER'">
        <button
          mat-icon-button
          mat-list-icon
          class="button-remove-user"
          matTooltip="Ne plus partager avec ce participant"
          (click)="removeUser(participant)"
        >
          <mat-icon aria-label="Supprimer">person_remove</mat-icon>
        </button>
        <div mat-line>{{ participant.name }}</div>
        <div mat-line>{{ participant.email }}</div>
      </mat-list-item>
    </ng-container>
  </mat-list>
</div>
