<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10">
  <mat-form-field class="col-10 no-padding">
    <mat-label>Emails</mat-label>
    <input
      matInput="email"
      type="email"
      [placeholder]="placeholder"
      [formControl]="addEmailsControl"
      [matAutocomplete]="auto"
    />

    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="selectedUsers($event)"
    >
      <mat-option *ngFor="let user of users" [value]="user">
        {{ user.email }} - {{ user.name }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-checkbox
    name="addOwnersControl"
    [formControl]="addOwnersControl"
    value="true"
    labelPosition="left"
  >
    co-Propriétaire
  </mat-checkbox>

  <button mat-mini-fab (click)="addUsers()" class="col-1">
    <mat-icon>add</mat-icon>
  </button>
</div>
<mat-error *ngIf="addEmailsControl.value">
  Cliquez sur l'icone + pour partager à cet emails
</mat-error>
<div *ngIf="value && value.length > 0">
  <table mat-table [dataSource]="datasource" class="mat-elevation-z3">
    <!--
      - Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition"
    -->

    <!-- Position Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let element">{{ element.email }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Nom</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <!-- Type Column -->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>Type</th>
      <td mat-cell *matCellDef="let element">{{ element.type }}</td>
    </ng-container>

    <!-- Type Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button (click)="removeUser(element)">
          <mat-icon aria-label="Supprimer">remove_circle</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
