<div class="page-background" [style.backgroundImage]="listBackgroundImg()">
  <mat-card class="header-page-card" *ngIf="list">
    <mat-card *ngIf="list.date" class="dateList">
      <mat-card-header>
        <mat-card-title>{{
          list.date | amDateFormat: "dddd D"
        }}</mat-card-title>
        <mat-card-subtitle>{{
          list.date | amDateFormat: "MMMM YYYY"
        }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        {{ list.date | amTimeAgo }}
      </mat-card-content>
    </mat-card>
    <section class="mat-typography">
      <mat-card-header>
        <list-type-icon
          mat-card-avatar
          [type]="list.type"
          size="large"
        ></list-type-icon>
        <mat-card-title
          ><h1 class="title-list">
            {{ list.title }}
            <a
              mat-icon-button
              routerLink="edit"
              color="accent"
              *ngIf="!demo && list.owner"
            >
              <mat-icon class="mat-18">edit</mat-icon>
            </a>
          </h1></mat-card-title
        >
        <mat-card-subtitle class="owners-list" *ngIf="list.owners"
          >de
          <ng-container
            *ngFor="let owner of list.owners; let last = last"
            [matTooltip]="owner.email"
          >
            <ngx-avatar
              [gravatarId]="owner.email"
              [matTooltip]="owner.name"
              [name]="owner.name"
              [round]="true"
              [src]="owner?.photoURL ? owner?.photoURL : ''"
              matTooltipPosition="below"
              size="15"
            >
            </ngx-avatar>
            <span
              [matTooltip]="owner.email"
              [title]="owner.email"
              class="owners"
              matTooltipPosition="below"
              >{{ owner.name }}</span
            >{{ last ? "" : ", " }}
          </ng-container></mat-card-subtitle
        >
      </mat-card-header>
    </section>
    <mat-divider
      [inset]="true"
      [class.divider-withDate]="list.date"
    ></mat-divider>
    <mat-card-content>
      <read-more [content]="list.description" maxHeight="200"></read-more>
    </mat-card-content>
    <mat-card-actions>
      <app-wish-filters-form></app-wish-filters-form>
    </mat-card-actions>
  </mat-card>
  <div *ngIf="!(loading$ | async); else loading">
    <app-list-of-wish
      [list]="listItems"
      [demo]="demo"
      class="col-12"
    ></app-list-of-wish>
  </div>

  <span class="done">
    <button mat-fab (click)="addWish()" [disabled]="demo">
      <mat-icon>add</mat-icon>
    </button>
  </span>
  <app-page-footer></app-page-footer>
</div>
<ng-template #loading>
  <div fxLayout="column" fxLayoutAlign="center center">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
