<a
  [class.owner]="wishlist.owner"
  [class.active]="active"
  [matTooltip]="
    wishlist.description
      ? (wishlist.description | stripTags | truncate: 200:'...':true)
      : null
  "
  [routerLink]="active ? null : ['/', wishlist.name]"
  matRipple
  class="wish-list-item list-envies-item"
  fxLayout="column"
  fxLayoutAlign="space-between stretch"
  matTooltipPosition="above"
>
  <div
    class="backgroundimg"
    [style.backgroundImage]="'url(/assets/thumb/' + wishlist.picture + ')'"
    *ngIf="wishlist.picture"
  ></div>
  <h2 class="wish-list-item-heading">
    <list-type-icon [type]="wishlist.type"></list-type-icon>
    {{ wishlist.title }}
  </h2>
  <div
    class="wish-list-item-text"
    fxLayout="row wrap"
    fxLayoutAlign="start start"
  >
    <span>de</span>
    <ng-container *ngFor="let owner of wishlist.owners; let last = last">
      <ngx-avatar
        [gravatarId]="owner.email"
        [matTooltip]="owner.name"
        [name]="owner.name"
        [round]="true"
        [src]="owner.photoURL"
        matTooltipPosition="above"
        size="15"
      >
      </ngx-avatar>
      <span
        [matTooltip]="owner.email"
        [title]="owner.email"
        class="owners"
        matTooltipPosition="above"
        >{{ owner.name }}</span
      ><span *ngIf="!last">, </span></ng-container
    >
  </div>
</a>
