@import "~@angular/material/theming";

.wish-list-item {
  position: relative;
  display: inline-block;
  @include mat-elevation-transition;
  @include mat-elevation(2);

  &:hover {
    @include mat-elevation(8);
  }
  width: 90%;
  height: 90%;
  padding: 0.5em;
  background-color: #fff;
  border-radius: 5px;
  margin: 7px 10px;

  &.active {
    pointer-events: none;
    cursor: default;
    opacity: 0.5;
  }
}

.wish-list-item.owner {
  z-index: 2;
  border-color: #337ab7;
  border-style: solid;
  border-width: 1px;
  margin: 6px 9px;
  //box-shadow: inset 0px 0px 0px 1px #337ab7, 0 16px 24px 2px rgba(0, 0, 0, 0.45), 0 6px 30px 5px rgba(0, 0, 0, 0.25), 0 8px 10px -5px rgba(0, 0, 0, 0.2) !important;
}

.wish-list-item-heading {
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  max-width: 100%;

  width: 95%;
  margin: 0 auto;
  font-size: 1.3em;
  line-height: 1em;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-align: center;
  vertical-align: middle;
  text-align: center;
}

.wish-list-item-text {
  width: 100%;
  min-width: 100%;

  font-size: 0.9em;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

  ngx-avatar {
    display: inline-block;
    margin: 0 2px;
    vertical-align: center;
  }
}

.owners {
  word-break: break-all;
  overflow-wrap: break-word;
  max-width: 40%;
  max-height: 19px;
}

.backgroundimg {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.2;
}
