<div>
  <mat-toolbar color="primary">


    <a routerLink="/" class="title" i18n="app title"><span><mat-icon fontSet="fa" fontIcon="fa-gift"></mat-icon></span> Listes de mes envies</a>



    <div *ngIf="userAuth | async as user; else showLogin">
      <span> {{ user.displayName }}!</span>
      <button (click)="logout()">Logout</button>
    </div>
    <ng-template #showLogin>
      <p>Please login.</p>
      <button (click)="loginGoogle()">Google</button>
      <button (click)="loginFacebook()">Facebook</button>
      <button (click)="loginTwitter()">Twitter</button>
    </ng-template>
    <button mat-icon-button [mat-menu-trigger-for]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-toolbar>
  <mat-menu x-position="before" #menu="matMenu">
    <button mat-menu-item>Option 1</button>
    <button mat-menu-item>Option 2</button>
  </mat-menu>

  <router-outlet></router-outlet>
</div>
