@import "./css/normalize.min.css";
@import "./css/smartslider.min.css";

/** Fa **/

.fa-google-plus-square:before {
  content: "\f0d4";
}

.fa-facebook-square:before {
  content: "\f082";
}

/** **/

.n2-ss-spinner-simple-white-container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -20px;
  background: #fff;
  width: 20px;
  height: 20px;
  padding: 10px;
  border-radius: 50%;
  z-index: 1000;
}

.n2-ss-spinner-simple-white {
  outline: 1px solid RGBA(0, 0, 0, 0);
  width: 100%;
  height: 100%;
}

.n2-ss-spinner-simple-white:before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -11px;
  margin-left: -11px;
}

.n2-ss-spinner-simple-white:not(:required):before {
  content: "";
  border-radius: 50%;
  border-top: 2px solid #333;
  border-right: 2px solid transparent;
  animation: n2SimpleWhite 0.6s linear infinite;
  -webkit-animation: n2SimpleWhite 0.6s linear infinite;
}
@keyframes n2SimpleWhite {
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes n2SimpleWhite {
  to {
    -webkit-transform: rotate(360deg);
  }
}
.n2-ss-spinner-simple-white-container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -20px;
  background: #fff;
  width: 20px;
  height: 20px;
  padding: 10px;
  border-radius: 50%;
  z-index: 1000;
}

.n2-ss-spinner-simple-white {
  outline: 1px solid RGBA(0, 0, 0, 0);
  width: 100%;
  height: 100%;
}

.n2-ss-spinner-simple-white:before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -11px;
  margin-left: -11px;
}

.n2-ss-spinner-simple-white:not(:required):before {
  content: "";
  border-radius: 50%;
  border-top: 2px solid #333;
  border-right: 2px solid transparent;
  animation: n2SimpleWhite 0.6s linear infinite;
  -webkit-animation: n2SimpleWhite 0.6s linear infinite;
}
@keyframes n2SimpleWhite {
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes n2SimpleWhite {
  to {
    -webkit-transform: rotate(360deg);
  }
}
.n2-ss-spinner-simple-white-container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -20px;
  background: #fff;
  width: 20px;
  height: 20px;
  padding: 10px;
  border-radius: 50%;
  z-index: 1000;
}

.n2-ss-spinner-simple-white {
  outline: 1px solid RGBA(0, 0, 0, 0);
  width: 100%;
  height: 100%;
}

.n2-ss-spinner-simple-white:before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -11px;
  margin-left: -11px;
}

.n2-ss-spinner-simple-white:not(:required):before {
  content: "";
  border-radius: 50%;
  border-top: 2px solid #333;
  border-right: 2px solid transparent;
  animation: n2SimpleWhite 0.6s linear infinite;
  -webkit-animation: n2SimpleWhite 0.6s linear infinite;
}
@keyframes n2SimpleWhite {
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes n2SimpleWhite {
  to {
    -webkit-transform: rotate(360deg);
  }
}
.n2-ss-spinner-simple-white-container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -20px;
  background: #fff;
  width: 20px;
  height: 20px;
  padding: 10px;
  border-radius: 50%;
  z-index: 1000;
}

.n2-ss-spinner-simple-white {
  outline: 1px solid RGBA(0, 0, 0, 0);
  width: 100%;
  height: 100%;
}

.n2-ss-spinner-simple-white:before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -11px;
  margin-left: -11px;
}

.n2-ss-spinner-simple-white:not(:required):before {
  content: "";
  border-radius: 50%;
  border-top: 2px solid #333;
  border-right: 2px solid transparent;
  animation: n2SimpleWhite 0.6s linear infinite;
  -webkit-animation: n2SimpleWhite 0.6s linear infinite;
}
@keyframes n2SimpleWhite {
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes n2SimpleWhite {
  to {
    -webkit-transform: rotate(360deg);
  }
}
.n2-ss-spinner-simple-white-container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -20px;
  background: #fff;
  width: 20px;
  height: 20px;
  padding: 10px;
  border-radius: 50%;
  z-index: 1000;
}

.n2-ss-spinner-simple-white {
  outline: 1px solid RGBA(0, 0, 0, 0);
  width: 100%;
  height: 100%;
}

.n2-ss-spinner-simple-white:before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -11px;
  margin-left: -11px;
}

.n2-ss-spinner-simple-white:not(:required):before {
  content: "";
  border-radius: 50%;
  border-top: 2px solid #333;
  border-right: 2px solid transparent;
  animation: n2SimpleWhite 0.6s linear infinite;
  -webkit-animation: n2SimpleWhite 0.6s linear infinite;
}
@keyframes n2SimpleWhite {
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes n2SimpleWhite {
  to {
    -webkit-transform: rotate(360deg);
  }
}

div#n2-ss-37 {
  width: 1200px;
  float: left;
  margin: 0px 0px 0px 0px;
}

html[dir="rtl"] div#n2-ss-37 {
  float: right;
}

div#n2-ss-37 .n2-ss-slider-1 {
  height: 700px;
  box-sizing: border-box;
  position: relative;
  background-repeat: repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: scroll;
}

div#n2-ss-37 .n2-ss-slider-background-video-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

div#n2-ss-37 .n2-ss-slider-2 {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 10;
}

div#n2-ss-37 .n2-ss-slide-backgrounds,
div#n2-ss-37 .n-particles-js-canvas-el {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

div#n2-ss-37 .n2-ss-slide-backgrounds {
  z-index: 10;
}

div#n2-ss-37 .n-particles-js-canvas-el {
  z-index: 12;
}

div#n2-ss-37 .n2-ss-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 1200px;
  height: 700px;
  display: block;
  -webkit-backface-visibility: hidden;
  z-index: 20;
}

div#n2-ss-37 .n2-ss-layers-container {
  position: relative;
  width: 1200px;
  height: 700px;
}

div#n2-ss-37 .n2-ss-slide {
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

div#n2-ss-37[data-ie] .n2-ss-slide {
  -webkit-perspective: none;
  perspective: none;
  -webkit-transform: perspective(1000px);
  transform: perspective(1000px);
}

div#n2-ss-37 .n2-ss-animated-heading-wrapper {
  position: relative;
  line-height: 1.5;
}

div#n2-ss-37 .n2-ss-animated-heading-wrapper div {
  display: inline-block;
  vertical-align: top;
}

div#n2-ss-37 .n2-ss-animated-heading-wrapper > div,
div#n2-ss-37 .n2-ss-animated-heading-wrapper > a {
  vertical-align: middle;
  display: inline-block;
}

div#n2-ss-37 .n2-ss-animated-heading-i {
  position: relative;
}

div#n2-ss-37 .n2-ss-animated-heading-i2 {
  position: relative;
  width: 100%;
  height: 100%;
}

div#n2-ss-37 .n2-ss-animated-heading-i-text {
  position: absolute;
  left: 0;
  top: 0;
  white-space: nowrap;
}

div#n2-ss-37
  .n2-ss-animated-heading-i-text.n2-ss-animated-heading-measure-width
  * {
  display: inline-block !important;
}

div#n2-ss-37 .n2-ss-animated-heading-i-cursor {
  background: #fff;
  display: inline-block;
  height: 100%;
  width: 2px;
  margin-left: -2px;
  transform: translateX(3px);
}

div#n2-ss-37
  .n2-ss-animated-heading-i-selection
  .n2-ss-animated-heading-i-cursor {
  visibility: hidden;
}

div#n2-ss-37 .n2-ss-button-container,
div#n2-ss-37 .n2-ss-button-container a {
  display: inline-block;
}

div#n2-ss-37 .n2-ss-button-container.n2-ss-fullwidth,
div#n2-ss-37 .n2-ss-button-container.n2-ss-fullwidth a {
  display: block;
}

div#n2-ss-37 .n2-ss-button-container.n2-ss-nowrap {
  white-space: nowrap;
}

div#n2-ss-37 .n2-ss-button-container a div {
  display: inline;
  font-size: inherit;
  text-decoration: inherit;
  color: inherit;
  line-height: inherit;
  font-family: inherit;
  font-weight: inherit;
}

div#n2-ss-37 .n2-ss-button-container a > div {
  display: inline-flex;
  align-items: center;
  vertical-align: top;
}

div#n2-ss-37 .n2-ss-button-container i {
  font-size: 100%;
  vertical-align: baseline;
}

div#n2-ss-37 .n2-ss-button-container a[data-iconplacement="left"] i {
  margin-right: 0.3em;
}

div#n2-ss-37 .n2-ss-button-container a[data-iconplacement="right"] i {
  margin-left: 0.3em;
}

div#n2-ss-37 .n2-ss-layer .n2-font-6c753e647b95b6034b40b0ac88001f7f-highlight {
  font-family: "Roboto", "Arial";
  color: #ffffff;
  font-size: 225%;
  text-shadow: none;
  line-height: 1.5;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-align: inherit;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
}

div#n2-ss-37
  .n2-ss-layer
  .n2-font-6c753e647b95b6034b40b0ac88001f7f-highlight
  .n2-highlighted {
  font-family: "Roboto", "Arial";
  color: #ffffff;
  font-size: 100%;
  text-shadow: none;
  line-height: 1.5;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-align: inherit;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
}

div#n2-ss-37
  .n2-ss-layer
  .n2-font-6c753e647b95b6034b40b0ac88001f7f-highlight
  .n2-highlighted:hover,
div#n2-ss-37
  .n2-ss-layer
  .n2-font-6c753e647b95b6034b40b0ac88001f7f-highlight
  .n2-highlighted:active,
div#n2-ss-37
  .n2-ss-layer
  .n2-font-6c753e647b95b6034b40b0ac88001f7f-highlight
  .n2-highlighted:focus {
  font-family: "Roboto", "Arial";
  color: #ffffff;
  font-size: 100%;
  text-shadow: none;
  line-height: 1.5;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-align: inherit;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
}

div#n2-ss-37 .n2-style-1117fd8ddf8ba7c018e99a3f01937056-highlight {
  background: #ffffff;
  background: RGBA(255, 255, 255, 0);
  opacity: 1;
  padding: 0px 0px 0px 0px;
  box-shadow: none;
  border-width: 0px;
  border-style: solid;
  border-color: #000000;
  border-color: RGBA(0, 0, 0, 1);
  border-radius: 0px;
}

div#n2-ss-37
  .n2-style-1117fd8ddf8ba7c018e99a3f01937056-highlight
  .n2-highlighted {
  padding: 0px 0px 0px 0px;
}

div#n2-ss-37 .n2-ss-layer .n2-font-55c6ef81439e543753fea092cd08d038-paragraph {
  font-family: "Roboto";
  color: #ffffff;
  color: RGBA(255, 255, 255, 0.69);
  font-size: 112.5%;
  text-shadow: none;
  line-height: 1.8;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-align: inherit;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  font-weight: normal;
}

div#n2-ss-37 .n2-ss-layer .n2-font-55c6ef81439e543753fea092cd08d038-paragraph a,
div#n2-ss-37
  .n2-ss-layer
  .n2-font-55c6ef81439e543753fea092cd08d038-paragraph
  a:focus {
  font-family: "Roboto";
  color: #1890d7;
  font-size: 100%;
  text-shadow: none;
  line-height: 1.8;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-align: inherit;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  font-weight: normal;
}

div#n2-ss-37
  .n2-ss-layer
  .n2-font-55c6ef81439e543753fea092cd08d038-paragraph
  a:hover,
div#n2-ss-37
  .n2-ss-layer
  .n2-font-55c6ef81439e543753fea092cd08d038-paragraph
  a:active {
  font-family: "Roboto";
  color: #1890d7;
  font-size: 100%;
  text-shadow: none;
  line-height: 1.8;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-align: inherit;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  font-weight: normal;
}

div#n2-ss-37 .n2-font-8e6a734362478d476ac9a1560cd9167e-link a {
  font-family: "Roboto";
  color: #2cabb3;
  font-size: 87.5%;
  text-shadow: none;
  line-height: 1.5;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-align: center;
  letter-spacing: 1px;
  word-spacing: normal;
  text-transform: none;
  font-weight: bold;
}

div#n2-ss-37 .n2-font-8e6a734362478d476ac9a1560cd9167e-link a:hover,
div#n2-ss-37 .n2-font-8e6a734362478d476ac9a1560cd9167e-link a:active,
div#n2-ss-37 .n2-font-8e6a734362478d476ac9a1560cd9167e-link a:focus {
  color: #ffffff;
}

div#n2-ss-37 .n2-style-4ba645e617f9ddf554390adec4b77d78-heading {
  background: #ffffff;
  opacity: 1;
  padding: 12px 28px 12px 28px;
  box-shadow: none;
  border-width: 0px;
  border-style: solid;
  border-color: #000000;
  border-color: RGBA(0, 0, 0, 1);
  border-radius: 99px;
}

div#n2-ss-37 .n2-style-4ba645e617f9ddf554390adec4b77d78-heading:hover,
div#n2-ss-37 .n2-style-4ba645e617f9ddf554390adec4b77d78-heading:active,
div#n2-ss-37 .n2-style-4ba645e617f9ddf554390adec4b77d78-heading:focus {
  background: #000000;
  background: RGBA(0, 0, 0, 0.27);
}

div#n2-ss-38 {
  width: 1200px;
  float: left;
  margin: 0px 0px 0px 0px;
}

html[dir="rtl"] div#n2-ss-38 {
  float: right;
}

div#n2-ss-38 .n2-ss-slider-1 {
  height: 400px;
  box-sizing: border-box;
  position: relative;
  background-repeat: repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: scroll;
}

div#n2-ss-38 .n2-ss-slider-background-video-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

div#n2-ss-38 .n2-ss-slider-2 {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 10;
}

div#n2-ss-38 .n2-ss-slide-backgrounds,
div#n2-ss-38 .n-particles-js-canvas-el {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

div#n2-ss-38 .n2-ss-slide-backgrounds {
  z-index: 10;
}

div#n2-ss-38 .n-particles-js-canvas-el {
  z-index: 12;
}

div#n2-ss-38 .n2-ss-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 1200px;
  height: 400px;
  display: block;
  -webkit-backface-visibility: hidden;
  z-index: 20;
}

div#n2-ss-38 .n2-ss-layers-container {
  position: relative;
  width: 1200px;
  height: 400px;
}

div#n2-ss-38 .n2-ss-slide {
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

div#n2-ss-38[data-ie] .n2-ss-slide {
  -webkit-perspective: none;
  perspective: none;
  -webkit-transform: perspective(1000px);
  transform: perspective(1000px);
}

div#n2-ss-38 .n2-ss-layer .n2-font-255a1db006b05afa5e55dda547021afd-hover {
  font-family: "Roboto";
  color: #525b63;
  font-size: 87.5%;
  text-shadow: none;
  line-height: 1.5;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  text-align: inherit;
  letter-spacing: 2px;
  word-spacing: normal;
  text-transform: uppercase;
}

div#n2-ss-38 .n2-ss-layer .n2-font-13c7463aa768b42bf6f34c4ddb622109-paragraph {
  font-family: "Roboto";
  color: #808b95;
  font-size: 100%;
  text-shadow: none;
  line-height: 1.6;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-align: inherit;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
}

div#n2-ss-38 .n2-ss-layer .n2-font-13c7463aa768b42bf6f34c4ddb622109-paragraph a,
div#n2-ss-38
  .n2-ss-layer
  .n2-font-13c7463aa768b42bf6f34c4ddb622109-paragraph
  a:focus {
  font-family: "Roboto";
  color: #1890d7;
  font-size: 100%;
  text-shadow: none;
  line-height: 1.6;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-align: inherit;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
}

div#n2-ss-38
  .n2-ss-layer
  .n2-font-13c7463aa768b42bf6f34c4ddb622109-paragraph
  a:hover,
div#n2-ss-38
  .n2-ss-layer
  .n2-font-13c7463aa768b42bf6f34c4ddb622109-paragraph
  a:active {
  font-family: "Roboto";
  color: #1890d7;
  font-size: 100%;
  text-shadow: none;
  line-height: 1.6;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-align: inherit;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
}

div#n2-ss-39 {
  width: 1200px;
  float: left;
  margin: 0px 0px 0px 0px;
}

html[dir="rtl"] div#n2-ss-39 {
  float: right;
}

div#n2-ss-39 .n2-ss-slider-1 {
  height: 600px;
  box-sizing: border-box;
  position: relative;
  background-repeat: repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: scroll;
}

div#n2-ss-39 .n2-ss-slider-background-video-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

div#n2-ss-39 .n2-ss-slider-2 {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 10;
}

div#n2-ss-39 .n2-ss-slide-backgrounds,
div#n2-ss-39 .n-particles-js-canvas-el {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

div#n2-ss-39 .n2-ss-slide-backgrounds {
  z-index: 10;
}

div#n2-ss-39 .n-particles-js-canvas-el {
  z-index: 12;
}

div#n2-ss-39 .n2-ss-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 1200px;
  height: 600px;
  display: block;
  -webkit-backface-visibility: hidden;
  z-index: 20;
}

div#n2-ss-39 .n2-ss-layers-container {
  position: relative;
  width: 1200px;
  height: 600px;
}

div#n2-ss-39 .n2-ss-slide {
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

div#n2-ss-39[data-ie] .n2-ss-slide {
  -webkit-perspective: none;
  perspective: none;
  -webkit-transform: perspective(1000px);
  transform: perspective(1000px);
}

div#n2-ss-39 .n2-ss-highlighted-heading-wrapper {
  line-height: 1.5;
}

div#n2-ss-39 .n2-ss-highlighted-heading-wrapper div {
  display: inline-block;
  vertical-align: top;
}

div#n2-ss-39 .n2-ss-highlighted-heading-wrapper > div,
div#n2-ss-39 .n2-ss-highlighted-heading-wrapper > a {
  vertical-align: baseline;
  display: inline-block;
}

div#n2-ss-39 .n2-ss-highlighted-heading-before,
div#n2-ss-39 .n2-ss-highlighted-heading-after {
  position: relative;
  z-index: 2;
}

div#n2-ss-39 .n2-ss-highlighted-heading-highlighted {
  position: relative;
}

div#n2-ss-39
  .n2-ss-highlighted-heading-highlighted
  .n2-ss-highlighted-heading-highlighted-text {
  position: relative;
  z-index: 2;
  padding: 0 10px;
}

div#n2-ss-39 .n2-ss-highlighted-heading-highlighted > svg {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 105%;
  height: 120%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  overflow: visible;
}

div#n2-ss-39 .n2-ss-highlighted-heading-highlighted[data-front="1"] > svg {
  z-index: 3;
}

div#n2-ss-39 .n2-ss-highlighted-heading-highlighted svg path {
  stroke: #61ce70;
  stroke-width: 9px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
}

div#n2-ss-39 .n2-ss-layer .n2-font-d6e5c36576d13b1e9873d86caf9842ac-hover {
  font-family: "Roboto";
  color: #ffffff;
  font-size: 300%;
  text-shadow: none;
  line-height: 1.5;
  font-weight: 300;
  font-style: normal;
  text-decoration: none;
  text-align: inherit;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
}

div#n2-ss-39 .n2-ss-39item2 {
  color: RGBA(255, 255, 255, 1);
}

div#n2-ss-39 .n2-ss-39item2:hover,
div#n2-ss-39 .n2-ss-39item2:focus,
div#n2-ss-39 .n2-ss-39item2:visited {
  color: RGBA(187, 74, 40, 1);
}

div#n2-ss-39 .n2-ss-39item3 {
  color: RGBA(255, 255, 255, 1);
}

div#n2-ss-39 .n2-ss-39item3:hover,
div#n2-ss-39 .n2-ss-39item3:focus,
div#n2-ss-39 .n2-ss-39item3:visited {
  color: RGBA(53, 124, 189, 1);
}

div#n2-ss-39 .n2-ss-39item4 {
  color: RGBA(255, 255, 255, 1);
}

div#n2-ss-39 .n2-ss-39item4:hover,
div#n2-ss-39 .n2-ss-39item4:focus,
div#n2-ss-39 .n2-ss-39item4:visited {
  color: RGBA(231, 157, 25, 1);
}

div#n2-ss-39 .n2-ss-layer .n2-font-c28d7b62e5a58d3939736a2b50e24bba-hover {
  font-family: "Roboto";
  color: #ffffff;
  color: RGBA(255, 255, 255, 0.69);
  font-size: 112.5%;
  text-shadow: none;
  line-height: 1.8;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-align: inherit;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
}

div #n2-ss-39 #n2-ss-39item8 svg path {
  stroke: #357cbd;
  stroke-opacity: 1;
  stroke-width: 11px;
}

div#n2-ss-39 .n2-ss-layer .n2-font-404b71d8712752e87787e38cb18e1b2c-highlight {
  font-family: "Roboto", "Arial";
  color: #ffffff;
  font-size: 281.25%;
  text-shadow: none;
  line-height: 1.5;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-align: inherit;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  font-weight: 400;
}

div#n2-ss-39
  .n2-ss-layer
  .n2-font-404b71d8712752e87787e38cb18e1b2c-highlight
  .n2-highlighted {
  font-family: "Roboto", "Arial";
  color: #ffffff;
  font-size: 100%;
  text-shadow: none;
  line-height: 1.5;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-align: inherit;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  font-weight: 400;
}

div#n2-ss-39
  .n2-ss-layer
  .n2-font-404b71d8712752e87787e38cb18e1b2c-highlight
  .n2-highlighted:hover,
div#n2-ss-39
  .n2-ss-layer
  .n2-font-404b71d8712752e87787e38cb18e1b2c-highlight
  .n2-highlighted:active,
div#n2-ss-39
  .n2-ss-layer
  .n2-font-404b71d8712752e87787e38cb18e1b2c-highlight
  .n2-highlighted:focus {
  font-family: "Roboto", "Arial";
  color: #ffffff;
  font-size: 100%;
  text-shadow: none;
  line-height: 1.5;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-align: inherit;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  font-weight: 400;
}

div#n2-ss-39 .n2-style-91e1bb6c873f2234ffc45854c86cfd32-highlight {
  background: #ffffff;
  background: RGBA(255, 255, 255, 0);
  opacity: 1;
  padding: 0px 0px 0px 0px;
  box-shadow: none;
  border-width: 0px;
  border-style: solid;
  border-color: #000000;
  border-color: RGBA(0, 0, 0, 1);
  border-radius: 0px;
}

div#n2-ss-39
  .n2-style-91e1bb6c873f2234ffc45854c86cfd32-highlight
  .n2-highlighted {
  padding: 0px 0px 0px 0px;
}

div#n2-ss-39
  .n2-style-91e1bb6c873f2234ffc45854c86cfd32-highlight
  .n2-highlighted:hover,
div#n2-ss-39
  .n2-style-91e1bb6c873f2234ffc45854c86cfd32-highlight
  .n2-highlighted:active,
div#n2-ss-39
  .n2-style-91e1bb6c873f2234ffc45854c86cfd32-highlight
  .n2-highlighted:focus {
  padding: 0px 0px 0px 0px;
}

div#n2-ss-40 {
  width: 1200px;
  float: left;
  margin: 0px 0px 0px 0px;
}

html[dir="rtl"] div#n2-ss-40 {
  float: right;
}

div#n2-ss-40 .n2-ss-slider-1 {
  height: 600px;
  box-sizing: border-box;
  position: relative;
  background-repeat: repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: scroll;
}

div#n2-ss-40 .n2-ss-slider-background-video-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

div#n2-ss-40 .n2-ss-slider-2 {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 10;
}

div#n2-ss-40 .n2-ss-slide-backgrounds,
div#n2-ss-40 .n-particles-js-canvas-el {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

div#n2-ss-40 .n2-ss-slide-backgrounds {
  z-index: 10;
}

div#n2-ss-40 .n-particles-js-canvas-el {
  z-index: 12;
}

div#n2-ss-40 .n2-ss-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 1200px;
  height: 600px;
  display: block;
  -webkit-backface-visibility: hidden;
  z-index: 20;
}

div#n2-ss-40 .n2-ss-layers-container {
  position: relative;
  width: 1200px;
  height: 600px;
}

div#n2-ss-40 .n2-ss-slide {
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

div#n2-ss-40[data-ie] .n2-ss-slide {
  -webkit-perspective: none;
  perspective: none;
  -webkit-transform: perspective(1000px);
  transform: perspective(1000px);
}

div#n2-ss-40 .n2-ss-layer .n2-font-255a1db006b05afa5e55dda547021afd-hover {
  font-family: "Roboto";
  color: #525b63;
  font-size: 87.5%;
  text-shadow: none;
  line-height: 1.5;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  text-align: inherit;
  letter-spacing: 2px;
  word-spacing: normal;
  text-transform: uppercase;
}

div#n2-ss-41 {
  width: 1200px;
  float: left;
  margin: 0px 0px 0px 0px;
}

html[dir="rtl"] div#n2-ss-41 {
  float: right;
}

div#n2-ss-41 .n2-ss-slider-1 {
  position: relative;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 600px;
  border-style: solid;
  border-width: 0px;
  border-color: #3e3e3e;
  border-color: RGBA(62, 62, 62, 1);
  border-radius: 0px;
  background-clip: padding-box;
  background-repeat: repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: scroll;
}

div#n2-ss-41 .n2-ss-slider-background-video-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

div#n2-ss-41 .n2-ss-slider-2 {
  position: relative;
  width: 100%;
  height: 100%;
}

.x-firefox div#n2-ss-41 .n2-ss-slider-2 {
  opacity: 0.99999;
}

div#n2-ss-41 .n2-ss-slider-3 {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 1px solid rgba(0, 0, 0, 0);
  z-index: 10;
}

div#n2-ss-41 .n2-ss-slide-backgrounds,
div#n2-ss-41 .n2-ss-slider-3 > .n-particles-js-canvas-el,
div#n2-ss-41 .n2-ss-slider-3 > .n2-ss-divider {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

div#n2-ss-41 .n2-ss-slide-backgrounds {
  z-index: 10;
}

div#n2-ss-41 .n2-ss-slider-3 > .n-particles-js-canvas-el {
  z-index: 12;
}

div#n2-ss-41 .n2-ss-slide-backgrounds > * {
  overflow: hidden;
}

div#n2-ss-41 .n2-ss-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  display: block;
  -webkit-backface-visibility: hidden;
}

div#n2-ss-41 .n2-ss-layers-container {
  position: relative;
  width: 1200px;
  height: 600px;
}

div#n2-ss-41 .n2-ss-parallax-clip > .n2-ss-layers-container {
  position: absolute;
  right: 0;
}

div#n2-ss-41 .n2-ss-slide {
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

div#n2-ss-41[data-ie] .n2-ss-slide {
  -webkit-perspective: none;
  perspective: none;
  -webkit-transform: perspective(1000px);
  transform: perspective(1000px);
}

div#n2-ss-41 .n2-ss-slide-active {
  z-index: 21;
}

div#n2-ss-41 .n2-ss-button-container,
div#n2-ss-41 .n2-ss-button-container a {
  display: inline-block;
}

div#n2-ss-41 .n2-ss-button-container.n2-ss-fullwidth,
div#n2-ss-41 .n2-ss-button-container.n2-ss-fullwidth a {
  display: block;
}

div#n2-ss-41 .n2-ss-button-container.n2-ss-nowrap {
  white-space: nowrap;
}

div#n2-ss-41 .n2-ss-button-container a div {
  display: inline;
  font-size: inherit;
  text-decoration: inherit;
  color: inherit;
  line-height: inherit;
  font-family: inherit;
  font-weight: inherit;
}

div#n2-ss-41 .n2-ss-button-container a > div {
  display: inline-flex;
  align-items: center;
  vertical-align: top;
}

div#n2-ss-41 .n2-ss-button-container i {
  font-size: 100%;
  vertical-align: baseline;
}

div#n2-ss-41 .n2-ss-button-container a[data-iconplacement="left"] i {
  margin-right: 0.3em;
}

div#n2-ss-41 .n2-ss-button-container a[data-iconplacement="right"] i {
  margin-left: 0.3em;
}

div#n2-ss-41 .nextend-arrow {
  cursor: pointer;
  overflow: hidden;
  line-height: 0 !important;
  z-index: 20;
}

div#n2-ss-41 .nextend-arrow img {
  position: relative;
  min-height: 0;
  min-width: 0;
  vertical-align: top;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  display: inline;
}

div#n2-ss-41 .nextend-arrow img.n2-arrow-hover-img {
  display: none;
}

div#n2-ss-41 .nextend-arrow:hover img.n2-arrow-hover-img {
  display: inline;
}

div#n2-ss-41 .nextend-arrow:hover img.n2-arrow-normal-img {
  display: none;
}

div#n2-ss-41 .nextend-arrow-animated {
  overflow: hidden;
}

div#n2-ss-41 .nextend-arrow-animated > div {
  position: relative;
}

div#n2-ss-41 .nextend-arrow-animated .n2-active {
  position: absolute;
}

div#n2-ss-41 .nextend-arrow-animated-fade {
  transition: background 0.3s, opacity 0.4s;
}

div#n2-ss-41 .nextend-arrow-animated-horizontal > div {
  transition: all 0.4s;
  left: 0;
}

div#n2-ss-41 .nextend-arrow-animated-horizontal .n2-active {
  top: 0;
}

div#n2-ss-41
  .nextend-arrow-previous.nextend-arrow-animated-horizontal:hover
  > div,
div#n2-ss-41 .nextend-arrow-next.nextend-arrow-animated-horizontal .n2-active {
  left: -100%;
}

div#n2-ss-41
  .nextend-arrow-previous.nextend-arrow-animated-horizontal
  .n2-active,
div#n2-ss-41 .nextend-arrow-next.nextend-arrow-animated-horizontal:hover > div {
  left: 100%;
}

div#n2-ss-41 .nextend-arrow.nextend-arrow-animated-horizontal:hover .n2-active {
  left: 0;
}

div#n2-ss-41 .nextend-arrow-animated-vertical > div {
  transition: all 0.4s;
  top: 0;
}

div#n2-ss-41 .nextend-arrow-animated-vertical .n2-active {
  left: 0;
}

div#n2-ss-41 .nextend-arrow-animated-vertical .n2-active {
  top: -100%;
}

div#n2-ss-41 .nextend-arrow-animated-vertical:hover > div {
  top: 100%;
}

div#n2-ss-41 .nextend-arrow-animated-vertical:hover .n2-active {
  top: 0;
}

div#n2-ss-41 .n2-ss-layer .n2-font-5c15e33168a74cc0b6fe725ff19b9281-hover {
  font-family: "Roboto";
  color: #ffffff;
  color: RGBA(255, 255, 255, 0.69);
  font-size: 87.5%;
  text-shadow: none;
  line-height: 1.5;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  text-align: inherit;
  letter-spacing: 2px;
  word-spacing: normal;
  text-transform: uppercase;
}

div#n2-ss-41 .n2-ss-layer .n2-font-05acc2400b0ed95e1cb3b3b5cf638e6c-hover {
  font-family: "Roboto";
  color: #ffffff;
  font-size: 200%;
  text-shadow: none;
  line-height: 1.5;
  font-weight: 300;
  font-style: normal;
  text-decoration: none;
  text-align: inherit;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
}

div#n2-ss-41 .n2-font-8e6a734362478d476ac9a1560cd9167e-link a {
  font-family: "Roboto";
  color: #2cabb3;
  font-size: 87.5%;
  text-shadow: none;
  line-height: 1.5;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-align: center;
  letter-spacing: 1px;
  word-spacing: normal;
  text-transform: none;
  font-weight: bold;
}

div#n2-ss-41 .n2-font-8e6a734362478d476ac9a1560cd9167e-link a:hover,
div#n2-ss-41 .n2-font-8e6a734362478d476ac9a1560cd9167e-link a:active,
div#n2-ss-41 .n2-font-8e6a734362478d476ac9a1560cd9167e-link a:focus {
  color: #ffffff;
}

div#n2-ss-41 .n2-style-038c109cc13e955c54f797c7ac90975e-heading {
  background: #ffffff;
  opacity: 1;
  padding: 12px 28px 12px 28px;
  box-shadow: none;
  border-width: 0px;
  border-style: solid;
  border-color: #ffffff;
  border-color: RGBA(255, 255, 255, 0);
  border-radius: 99px;
}

div#n2-ss-41 .n2-style-038c109cc13e955c54f797c7ac90975e-heading:hover,
div#n2-ss-41 .n2-style-038c109cc13e955c54f797c7ac90975e-heading:active,
div#n2-ss-41 .n2-style-038c109cc13e955c54f797c7ac90975e-heading:focus {
  background: #2cabb3;
}

div#n2-ss-42 {
  width: 1200px;
  float: left;
  margin: 0px 0px 0px 0px;
}

html[dir="rtl"] div#n2-ss-42 {
  float: right;
}

div#n2-ss-42 .n2-ss-slider-1 {
  height: 500px;
  box-sizing: border-box;
  position: relative;
  background-repeat: repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: scroll;
}

div#n2-ss-42 .n2-ss-slider-background-video-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

div#n2-ss-42 .n2-ss-slider-2 {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 10;
}

div#n2-ss-42 .n2-ss-slide-backgrounds,
div#n2-ss-42 .n-particles-js-canvas-el {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

div#n2-ss-42 .n2-ss-slide-backgrounds {
  z-index: 10;
}

div#n2-ss-42 .n-particles-js-canvas-el {
  z-index: 12;
}

div#n2-ss-42 .n2-ss-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 1200px;
  height: 500px;
  display: block;
  -webkit-backface-visibility: hidden;
  z-index: 20;
}

div#n2-ss-42 .n2-ss-layers-container {
  position: relative;
  width: 1200px;
  height: 500px;
}

div#n2-ss-42 .n2-ss-slide {
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

div#n2-ss-42[data-ie] .n2-ss-slide {
  -webkit-perspective: none;
  perspective: none;
  -webkit-transform: perspective(1000px);
  transform: perspective(1000px);
}

div#n2-ss-42 .n2-ss-button-container,
div#n2-ss-42 .n2-ss-button-container a {
  display: inline-block;
}

div#n2-ss-42 .n2-ss-button-container.n2-ss-fullwidth,
div#n2-ss-42 .n2-ss-button-container.n2-ss-fullwidth a {
  display: block;
}

div#n2-ss-42 .n2-ss-button-container.n2-ss-nowrap {
  white-space: nowrap;
}

div#n2-ss-42 .n2-ss-button-container a div {
  display: inline;
  font-size: inherit;
  text-decoration: inherit;
  color: inherit;
  line-height: inherit;
  font-family: inherit;
  font-weight: inherit;
}

div#n2-ss-42 .n2-ss-button-container a > div {
  display: inline-flex;
  align-items: center;
  vertical-align: top;
}

div#n2-ss-42 .n2-ss-button-container i {
  font-size: 100%;
  vertical-align: baseline;
}

div#n2-ss-42 .n2-ss-button-container a[data-iconplacement="left"] i {
  margin-right: 0.3em;
}

div#n2-ss-42 .n2-ss-button-container a[data-iconplacement="right"] i {
  margin-left: 0.3em;
}

div#n2-ss-42 .n2-ss-layer .n2-font-0d4b260804e104228acc0ea38de881ae-hover {
  font-family: "Roboto";
  color: #383f45;
  font-size: 300%;
  text-shadow: none;
  line-height: 1.5;
  font-weight: 300;
  font-style: normal;
  text-decoration: none;
  text-align: left;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
}

div#n2-ss-42 .n2-ss-layer .n2-font-845ddd6462c70bbb188d9da0b27849ee-hover {
  font-family: "Roboto";
  color: #383f45;
  font-size: 150%;
  text-shadow: none;
  line-height: 1.5;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-align: inherit;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
}

div#n2-ss-42 .n2-ss-layer .n2-font-eb275daa4dcfe901712b1b2154a9653f-hover {
  font-family: "Roboto";
  color: #808b95;
  font-size: 112.5%;
  text-shadow: none;
  line-height: 1.8;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-align: inherit;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
}

div#n2-ss-42 .n2-font-d1c3a5983d53f09bbee4564b868e717b-link a {
  font-family: "Roboto";
  color: #ffffff;
  font-size: 87.5%;
  text-shadow: none;
  line-height: 1.5;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-align: center;
  letter-spacing: 1px;
  word-spacing: normal;
  text-transform: none;
  font-weight: bold;
}

div#n2-ss-42 .n2-style-8dce93fd707e22e07de251fd9c3fb9f5-heading {
  background: #01add3;
  opacity: 1;
  padding: 12px 28px 12px 28px;
  box-shadow: none;
  border-width: 0px;
  border-style: solid;
  border-color: #000000;
  border-color: RGBA(0, 0, 0, 1);
  border-radius: 99px;
}

div#n2-ss-43 {
  width: 1200px;
  float: left;
  margin: 0px 0px 0px 0px;
}

html[dir="rtl"] div#n2-ss-43 {
  float: right;
}

div#n2-ss-43 .n2-ss-slider-1 {
  height: 300px;
  box-sizing: border-box;
  position: relative;
  background-repeat: repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: scroll;
}

div#n2-ss-43 .n2-ss-slider-background-video-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

div#n2-ss-43 .n2-ss-slider-2 {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 10;
}

div#n2-ss-43 .n2-ss-slide-backgrounds,
div#n2-ss-43 .n-particles-js-canvas-el {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

div#n2-ss-43 .n2-ss-slide-backgrounds {
  z-index: 10;
}

div#n2-ss-43 .n-particles-js-canvas-el {
  z-index: 12;
}

div#n2-ss-43 .n2-ss-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 1200px;
  height: 300px;
  display: block;
  -webkit-backface-visibility: hidden;
  z-index: 20;
}

div#n2-ss-43 .n2-ss-layers-container {
  position: relative;
  width: 1200px;
  height: 300px;
}

div#n2-ss-43 .n2-ss-slide {
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

div#n2-ss-43[data-ie] .n2-ss-slide {
  -webkit-perspective: none;
  perspective: none;
  -webkit-transform: perspective(1000px);
  transform: perspective(1000px);
}

div#n2-ss-43 .n2-ss-animated-heading-wrapper {
  position: relative;
  line-height: 1.5;
}

div#n2-ss-43 .n2-ss-animated-heading-wrapper div {
  display: inline-block;
  vertical-align: top;
}

div#n2-ss-43 .n2-ss-animated-heading-wrapper > div,
div#n2-ss-43 .n2-ss-animated-heading-wrapper > a {
  vertical-align: middle;
  display: inline-block;
}

div#n2-ss-43 .n2-ss-animated-heading-i {
  position: relative;
}

div#n2-ss-43 .n2-ss-animated-heading-i2 {
  position: relative;
  width: 100%;
  height: 100%;
}

div#n2-ss-43 .n2-ss-animated-heading-i-text {
  position: absolute;
  left: 0;
  top: 0;
  white-space: nowrap;
}

div#n2-ss-43
  .n2-ss-animated-heading-i-text.n2-ss-animated-heading-measure-width
  * {
  display: inline-block !important;
}

div#n2-ss-43 .n2-ss-animated-heading-i-cursor {
  background: #fff;
  display: inline-block;
  height: 100%;
  width: 2px;
  margin-left: -2px;
  transform: translateX(3px);
}

div#n2-ss-43
  .n2-ss-animated-heading-i-selection
  .n2-ss-animated-heading-i-cursor {
  visibility: hidden;
}

div#n2-ss-43 .n2-ss-highlighted-heading-wrapper {
  line-height: 1.5;
}

div#n2-ss-43 .n2-ss-highlighted-heading-wrapper div {
  display: inline-block;
  vertical-align: top;
}

div#n2-ss-43 .n2-ss-highlighted-heading-wrapper > div,
div#n2-ss-43 .n2-ss-highlighted-heading-wrapper > a {
  vertical-align: baseline;
  display: inline-block;
}

div#n2-ss-43 .n2-ss-highlighted-heading-before,
div#n2-ss-43 .n2-ss-highlighted-heading-after {
  position: relative;
  z-index: 2;
}

div#n2-ss-43 .n2-ss-highlighted-heading-highlighted {
  position: relative;
}

div#n2-ss-43
  .n2-ss-highlighted-heading-highlighted
  .n2-ss-highlighted-heading-highlighted-text {
  position: relative;
  z-index: 2;
  padding: 0 10px;
}

div#n2-ss-43 .n2-ss-highlighted-heading-highlighted > svg {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 105%;
  height: 120%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  overflow: visible;
}

div#n2-ss-43 .n2-ss-highlighted-heading-highlighted[data-front="1"] > svg {
  z-index: 3;
}

div#n2-ss-43 .n2-ss-highlighted-heading-highlighted svg path {
  stroke: #61ce70;
  stroke-width: 9px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
}

div#n2-ss-43 .n2-ss-layer .n2-font-6c753e647b95b6034b40b0ac88001f7f-highlight {
  font-family: "Roboto", "Arial";
  color: #ffffff;
  font-size: 225%;
  text-shadow: none;
  line-height: 1.5;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-align: inherit;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
}

div#n2-ss-43
  .n2-ss-layer
  .n2-font-6c753e647b95b6034b40b0ac88001f7f-highlight
  .n2-highlighted {
  font-family: "Roboto", "Arial";
  color: #ffffff;
  font-size: 100%;
  text-shadow: none;
  line-height: 1.5;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-align: inherit;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
}

div#n2-ss-43
  .n2-ss-layer
  .n2-font-6c753e647b95b6034b40b0ac88001f7f-highlight
  .n2-highlighted:hover,
div#n2-ss-43
  .n2-ss-layer
  .n2-font-6c753e647b95b6034b40b0ac88001f7f-highlight
  .n2-highlighted:active,
div#n2-ss-43
  .n2-ss-layer
  .n2-font-6c753e647b95b6034b40b0ac88001f7f-highlight
  .n2-highlighted:focus {
  font-family: "Roboto", "Arial";
  color: #ffffff;
  font-size: 100%;
  text-shadow: none;
  line-height: 1.5;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-align: inherit;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
}

div#n2-ss-43 .n2-style-1117fd8ddf8ba7c018e99a3f01937056-highlight {
  background: #ffffff;
  background: RGBA(255, 255, 255, 0);
  opacity: 1;
  padding: 0px 0px 0px 0px;
  box-shadow: none;
  border-width: 0px;
  border-style: solid;
  border-color: #000000;
  border-color: RGBA(0, 0, 0, 1);
  border-radius: 0px;
}

div#n2-ss-43
  .n2-style-1117fd8ddf8ba7c018e99a3f01937056-highlight
  .n2-highlighted {
  padding: 0px 0px 0px 0px;
}

div#n2-ss-43 .n2-ss-43item2 {
  color: RGBA(0, 0, 0, 0.5);
}

div#n2-ss-43 .n2-ss-43item3 {
  color: RGBA(0, 0, 0, 0.5);
}

div#n2-ss-43 .n2-ss-43item4 {
  color: RGBA(0, 0, 0, 0.5);
}

div#n2-ss-43 .n2-ss-43item5 {
  color: RGBA(0, 0, 0, 0.5);
}

div#n2-ss-43 .n2-ss-43item6 {
  color: RGBA(0, 0, 0, 0.5);
}

div#n2-ss-43 .n2-ss-43item7 {
  color: RGBA(0, 0, 0, 0.5);
}

div #n2-ss-43 #n2-ss-43item8 svg path {
  stroke: #ffffff;
  stroke-opacity: 1;
  stroke-width: 10px;
}

div#n2-ss-43 .n2-ss-layer .n2-font-f6a6c8c083f2b9a335ddabcbe72f86db-highlight {
  font-family: "Roboto", "Arial";
  color: #ffffff;
  font-size: 93.75%;
  text-shadow: none;
  line-height: 1.5;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-align: inherit;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  font-weight: 400;
}

div#n2-ss-43
  .n2-ss-layer
  .n2-font-f6a6c8c083f2b9a335ddabcbe72f86db-highlight
  .n2-highlighted {
  font-family: "Roboto", "Arial";
  color: #ffffff;
  font-size: 100%;
  text-shadow: none;
  line-height: 1.5;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-align: inherit;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  font-weight: 400;
}

div#n2-ss-43
  .n2-ss-layer
  .n2-font-f6a6c8c083f2b9a335ddabcbe72f86db-highlight
  .n2-highlighted:hover,
div#n2-ss-43
  .n2-ss-layer
  .n2-font-f6a6c8c083f2b9a335ddabcbe72f86db-highlight
  .n2-highlighted:active,
div#n2-ss-43
  .n2-ss-layer
  .n2-font-f6a6c8c083f2b9a335ddabcbe72f86db-highlight
  .n2-highlighted:focus {
  font-family: "Roboto", "Arial";
  color: #ffffff;
  font-size: 100%;
  text-shadow: none;
  line-height: 1.5;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-align: inherit;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  font-weight: 400;
}

div#n2-ss-43 .n2-style-91e1bb6c873f2234ffc45854c86cfd32-highlight {
  background: #ffffff;
  background: RGBA(255, 255, 255, 0);
  opacity: 1;
  padding: 0px 0px 0px 0px;
  box-shadow: none;
  border-width: 0px;
  border-style: solid;
  border-color: #000000;
  border-color: RGBA(0, 0, 0, 1);
  border-radius: 0px;
}

div#n2-ss-43
  .n2-style-91e1bb6c873f2234ffc45854c86cfd32-highlight
  .n2-highlighted {
  padding: 0px 0px 0px 0px;
}

div#n2-ss-43
  .n2-style-91e1bb6c873f2234ffc45854c86cfd32-highlight
  .n2-highlighted:hover,
div#n2-ss-43
  .n2-style-91e1bb6c873f2234ffc45854c86cfd32-highlight
  .n2-highlighted:active,
div#n2-ss-43
  .n2-style-91e1bb6c873f2234ffc45854c86cfd32-highlight
  .n2-highlighted:focus {
  padding: 0px 0px 0px 0px;
}
