<form class="example-form">
  <mat-card-header>
    <mat-card-title>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="titre" [(ngModel)]="wishItem.label" name="label">
      </mat-form-field>
    </mat-card-title>
    <mat-card-subtitle>{{wishItem.owner.name}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>

      <app-html-editor [content]="wishItem.description" placeholder="Description de l'envie"></app-html-editor>
      <!--<textarea matInput placeholder="Description" [(ngModel)]="wishItem.description" name="description"></textarea>-->
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Prix" [(ngModel)]="wishItem.price" name="price">
    </mat-form-field>


      <app-rating placeholder="Note" [(value)]="wishItem.rating" [readonly]="false"></app-rating>

  </mat-card-content>
</form>
