
<mat-card>
  <section class="mat-typography">
    <h1>{{listId}}</h1>
  </section>
</mat-card>


  <!--<ngx-masonry [useImagesLoaded]="true" [options]="masonryOptions" class="masonry-grid">
    <ngx-masonry-item class="masonry-item" *ngFor="let brick of tiles" >
      &lt;!&ndash;<app-wish-card  class="wish-card  mat-card"></app-wish-card>&ndash;&gt;
      {{brick.text}}
    </ngx-masonry-item>
  </ngx-masonry>-->

<mat-grid-list [gutterSize]="10" [cols]="4">
  <mat-grid-tile class="masonry-item" *ngFor="let wishItem of (list | async)" [rowspan]="2"><app-wish-card  [wishItem]="wishItem" class="wish-card"></app-wish-card></mat-grid-tile>
</mat-grid-list>


