
<mat-card>
  <section class="mat-typography">
    <h1>{{listId}}</h1>
  </section>
</mat-card>


  <!--<ngx-masonry [useImagesLoaded]="true" [options]="masonryOptions" class="masonry-grid">
    <ngx-masonry-item class="masonry-item" *ngFor="let brick of tiles" >
      &lt;!&ndash;<app-wish-card  class="wish-card  mat-card"></app-wish-card>&ndash;&gt;
      {{brick.text}}
    </ngx-masonry-item>
  </ngx-masonry>-->

<div class="masonry-item" *ngFor="let wishItem of (list | async)">
 <app-wish-card  [wishItem]="wishItem" class="wish-card"></app-wish-card>
</div>


