/* You can add global styles to this file, and also import other style files */
@import "styles/variables";
@import "~@angular/material/theming";
@include mat-core();

@import "~wire.css";

// define 3 theme color

$my-theme-primary: mat-palette($mat-blue, 700, 300, 900);
$my-theme-accent: mat-palette($mat-light-blue);
$my-theme-warn: mat-palette($mat-deep-orange, A200);

// create theme (use mat-dark-theme for themes with dark backgrounds)
$my-theme: mat-light-theme($my-theme-primary, $my-theme-accent, $my-theme-warn);

// mat-palette accepts $palette-name, main, lighter and darker variants
@include angular-material-theme($my-theme);
body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}
mat-card {
  max-width: 80%;
  margin: 2em auto;
  text-align: center;
}
mat-toolbar-row {
  justify-content: space-between;
}

.done {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
  z-index: 9999;
}
firebase-ui .firebaseui-container {
  box-shadow: none;
}

.page-background {
  background-image: url(/assets/img/default.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  z-index: -1;
  opacity: 0.5;
}

.page-all {
  background: none;
  padding-top: 20px;
  min-height: 100vh;
  .header-page-card {
    margin-top: 0px;
  }
}

/** Specific css for styling generated angular materials css **/
.matDialogContent {
  overflow: auto;
  max-height: 95%;
}
mat-expansion-panel.badge-expansion-panel {
  span.mat-content {
    /* height: 48px; */
    padding: 12px 0;
  }
}
.content_sidenav mat-expansion-panel {
  padding: 5px 0;

  mat-expansion-panel-header .mat-badge-content.mat-badge-active {
    top: 1px !important;
    font-size: 0.8em;
  }
  .mat-expansion-panel-body {
    padding: 0 !important;
  }
}

.comments mat-list.mat-list mat-list-item.comment_item {
  height: auto !important;
  .mat-list-item-content {
    padding: 10px 0;
    align-items: self-start;
  }
  ngx-avatar.mat-list-avatar {
    align-self: flex-start;
  }
  .mat-list-text h6.mat-line {
    white-space: normal;
    overflow-wrap: break-word;
    text-overflow: unset;
  }
  &.odd {
    .mat-list-text {
      align-items: flex-end;
      padding-left: 0 !important;
      padding-right: 16px !important;
    }
    ngx-avatar.mat-list-avatar {
      order: 1;
    }
  }
  mat-divider.mat-divider.mat-divider-horizontal.mat-divider-inset {
    margin-right: 72px;
    width: calc(100% - 72px - 72px);
  }
  &.even .mat-list-text {
    background-color: #e2e2fdb5;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin-left: 10px;
    &:before {
      content: "";
      position: absolute;
      right: calc(100% - 55px);
      top: 13px;
      width: 0;
      height: 0;
      border-top: 2px solid transparent;
      border-right: 15px solid #e2e2fdb5;
      border-bottom: 10px solid transparent;
      transform: rotate(25deg);
    }
  }
  &.odd .mat-list-text {
    background-color: #fbe4d6b5;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin-right: 10px;
    &:after {
      content: "";
      position: absolute;
      left: calc(100% - 55px);
      top: 13px;
      width: 0;
      height: 0;
      border-top: 2px solid transparent;
      border-left: 15px solid #fbe4d6b5;
      border-bottom: 10px solid transparent;
      transform: rotate(-25deg);
    }
  }
}

.swiper-pagination.swiper-pagination-progressbar {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background: $grey-200;
  position: absolute;
  .swiper-pagination-progressbar-fill {
    background: $grey-500;
  }
}

mat-form-field.no-padding {
  & > .mat-form-field-wrapper {
    padding: 0 !important;
  }
}

[hidden] {
  display: none !important;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

mat-button-toggle-group.buttonGroupDemo {
  height: 30px;
  font-size: 14px;
  position: relative;
  top: -6px;
  right: -11px;

  mat-button-toggle {
    padding-top: 0;
    height: 30px;

    mat-icon {
      font-size: 15px;
    }
  }

  button.mat-button-toggle-button
    .mat-button-toggle-appearance-standard
    .mat-button-toggle-label-content {
    line-height: 30px !important;
    padding: 2px 12px !important;
    height: 30px !important;
  }

  .mat-button-toggle-label-content {
    height: 30px;
    line-height: 30px;
  }

  .mat-button-toggle-label-content button {
    height: 30px;
    line-height: 30px;
  }

  .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
    line-height: 30px;
    padding: 2px 12px;
  }
}

mat-card.dateList {
  .mat-card-header-text {
    margin: 0 8px;
  }
}

/*** ***************** files pouns ***/
@import "~filepond/dist/filepond.css";
