<!-- Navigation -->
<!--  -->
<nav class="navbar navbar-transparent navbar-fixed-top navbar-color-on-scroll top-nav" role="navigation" translate-namespace="NAVBAR">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only" translate>.TOGGLE_NAVIGATION</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><i class="fa fa-gift"></i> <span translate=".TITLE"></span></a>
        </div>

        <div class="collapse navbar-collapse ng-cloak " id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav hidden-sm hidden-xs">

                <li class="dropdown mega-dropdown " ng-if="main.wishLists != null">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span translate>.CHANGE_LIST</span> <span class="caret"></span></a>
                    <ul class="dropdown-menu mega-dropdown-menu row">

                        <li class="list-group-item" ng-class="{owner:aWishList.owner}" ng-repeat="aWishList in main.wishLists"><a ng-click="main.goList(aWishList.name)">
                            <icon-wish-list type="{{aWishList.type}}"></icon-wish-list> {{aWishList.title}}
                            <p class="list-group-item-text"> de <span class="owners" ng-repeat="owner in aWishList.owners" title="{{owner.name}}({{owner.email}})"><i class="fa fa-user"></i> {{owner.name}}<span ng-if="!$last" >, </span></span>  </p>
                        </a></li>
                        <hr/>
                        <li  class="list-group-item">
                            <a role="button" href="/archive"><i class="fa fa-fw fa-archive"></i> <span translate>.MENU_ARCHIVED</span></a>
                        </li>
                        <li  class="list-group-item">
                            <a role="button" href="/given"><i class="fa fa-fw fa-gift"></i> <span translate>.MENU_GIVEN</span></a>
                        </li>

                    </ul>
                </li>
            </ul>


            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown  hidden-sm hidden-xs" ng-show="main.isAuthenticated">
                    <a type="button"
                        href="javascript:!function(e,t,n,o){var i=e.screenLeft||screen.left,r=e.screenTop||screen.top,c=(e.innerWidth||t.documentElement.clientWidth||screen.width)/2-250+i,s=(e.innerHeight||t.documentElement.clientHeight||screen.height)/2-350+r;e.open('http://{{main.host}}/addWish/?url='+encodeURIComponent(t.location.href)+'&title='+encodeURIComponent(t.title),'Ajouter sur votre liste d\'envie','toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=no,width=500,height=700,top='+s+',left='+c).focus()}(window,document);"

                       class="btn btn-default btn-magic"
                       data-container="body" data-toggle="popover" data-placement="bottom" data-trigger="hover click focus"
                       ng-mouseover="main.displayPopover($event)"
                       data-delay = '{ "show": 100, "hide": 900 }'
                       data-html="true"
                       data-content="{{'NAVBAR.MAGIC_BUTTON_POPOVER_CONTENT'|translate}}"
                        ><i>🎁</i>
                        <span translate="NAVBAR.MAGIC_BUTTON"></span>
                    </a>

                </li>
                <li class="dropdown " ng-show="main.isAuthenticated">
                    <a class="dropdown-toggle notification" data-toggle="dropdown"><i class="fa fa-bell"></i>
                        <span class="badge">{{main.Notifications.length}}</span>
                    </a>
                    <ul class="dropdown-menu notif-menu" ng-if="main.Notifications.length > 0">
                        <li class="title-notification" translate>NOTIFICATIONS.NOTIFICATION_TITLE</li>
                        <li role="separator" class="divider"></li>
                        <li class="notif" ng-repeat="notif in main.Notifications " ng-click="main.goList(notif.listId)">
                            <i class="fa fa-2x pull-left" ng-class="main.notifClass(notif.type)"></i>
                            <span class="text-muted" am-time-ago="notif.date" title="{{notif.date | date: 'fullDate'}} à {{notif.date | date: 'shortTime'}}"></span>:
                            <span translate-values="notif" translate="NOTIFICATIONS.TYPE.{{notif.type}}"></span>
                        </li>
                    </ul>
                </li>
                <li class="dropdown" ng-show="main.isAuthenticated">
                    <a class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{main.user.name}}
                        <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><div>{{main.user.email}}</div></li>
                        <li>
                            <a href="/profil"><i class="fa fa-fw fa-user"></i> <span translate=".MY_PROFIL"></span> </a>
                        </li>
                        <li>
                            <a role="button" href="/archive"><i class="fa fa-fw fa-archive"></i> <span translate>.MENU_ARCHIVED</span></a>
                        </li>
                        <li>
                            <a role="button" href="/given"><i class="fa fa-fw fa-gift"></i> <span translate>.MENU_GIVEN</span></a>
                        </li>
                        <li>
                            <a ng-href="{{main.logoutPath()}}" target="_top"><i class="fa fa-fw fa-power-off"></i><span translate=".LOG_OUT"></span></a>
                        </li>
                    </ul>
                </li>
                <li ng-hide="main.isAuthenticated">
                    <a data-toggle="modal" data-target="#login-form" translate target="_top">.LOG_IN</a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->


    </div>
</nav >

<div id="wrapper"  class="wrapper page-background" ng-style="{'background-image':'url('+(main.background || 'img/default.jpeg')+')'}" translate-namespace="PAGE">

    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <h1 class="title" translate=".TITLE"></h1>
                    <h4 translate=".DESCRIPTION"></h4>
                    <br />

                </div>
            </div>
        </div>
    </div>


    <div id="page-wrapper">

        <div ng-transclude></div>

    </div>

    <footer class="footer">
        <div class="container">
            <nav class="pull-left">
                <ul>
                    <li>
                        <a href="http://liste-envie.desaintsteban.fr">
                            <i class="fa fa-link"></i> <span translate=".FOOTER_LINKS.LISTE_ENVIES"></span>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/patou/liste-envies">
                            <i class="fa fa-github"></i> <span translate=".FOOTER_LINKS.GITHUB"></span>
                        </a>
                    </li>

                </ul>
            </nav>
            <div class="copyright pull-right" translate=".FOOTER_LINKS.COPYRIGHT">
            </div>
        </div>
    </footer>

    <!-- /#page-wrapper -->
    <login-form></login-form>

</div>
<!-- /#wrapper -->