    <div class="envie-container" translate-namespace="WISH_CARD_COMPONENT">
        <cancel-directive type="warning" title="{{'WISH_CARD_COMPONENT.DELETE_TITLE'|translate}}" show="w.remove" on-cancel="w.cancelRemove()" on-delete="w.doRemove()">
            <span translate="WISH_CARD_COMPONENT.DELETE_MESSAGE" translate-value='{whishName: vm.whishName}'></span>
            <a class="btn btn-warning btn-link alert-link" ng-click="w.receivedWish()" translate="WISH_CARD_COMPONENT.EDIT_OPTIONS_RECEIVED"></a>
        </cancel-directive>
        <cancel-directive type="info" title="{{'WISH_CARD_COMPONENT.RECEIVED_TITLE'|translate}}" show="w.archive" on-cancel="w.cancelArchive()" on-delete="w.doArchive()">
            <span translate="WISH_CARD_COMPONENT.RECEIVED_MESSAGE" translate-value='{whishName: vm.whishName}'></span>
        </cancel-directive>

        <div class="panel card card-signup envie-item " ng-if="!w.remove && !w.archive"
             ng-class="{'panel-warning':w.wish.userTakeUsers && !w.ownerList, 'panel-info':w.wish.suggest, 'panel-success':!w.wish.userTakeUsers}">
            <div class="header text-center"
                 ng-class="{'header-warning':w.wish.userTakeUsers && !w.ownerList,
                            'header-info':w.wish.suggest && !w.wish.userTakeUsers,
                            'header-success':!w.wish.suggest && !w.wish.userTakeUsers}">
                <h1>
                    <span ng-if="!w.edit">{{w.wish.label}}</span>
                </h1>
                <div class="form-group " ng-if="w.edit">
                    <label for="wishEditTitle" class="control-label" translate=".INPUT_TITRE"></label>
                    <input type="text" class="form-control" id="wishEditTitle" ng-model="w.wish.label">
                </div>
            </div>
            <div class="panel-body">
                <div class="envie-infos">
                   <div class="pull-left" translate translate-attr-title=".TITLE_LAST_CHANGE" ng-show="w.wish.date">
                       <p class="text-center"><i class="fa fa-calendar fa-pull-left fa-border"></i><span class="text-muted" am-time-ago="w.wish.date"></span></p>
                   </div>
                   <div class="pull-right" translate translate-attr-title=".TITLE_CREATED_BY"  ng-show="w.add || w.wish.ownerUser.name">
                       <p class="text-center"><i class="fa fa-smile-o fa-pull-left fa-border"></i><span class="text-muted">{{(w.add)? w.user.name : w.wish.ownerUser.name}}</span></p>
                   </div>

               </div>

                <div class="alert alert-warning" role="alert" ng-if="w.wish.deleted">
                    <span translate=".WISH_DELETED_MESSAGE"></span>
                    <a class="btn btn-warning btn-link alert-link" ng-click="w.receivedWish()" translate=".ALREADY_DONE"></a>
                </div>

                    <!--<i class="fa fa-a fa-3x pull-right logo-envie" ng-class="{'fa-gift': !w.add, 'fa-plus': w.add, 'wish-edit': w.edit}"></i></p>-->
                <a ng-if="w.wish.picture && !w.edit" ng-href="{{w.wish.picture}}" target="_blank" class="thumbnail">
                    <img ng-src="{{w.wish.picture}}" alt="Image Envie">
                </a>


                <p class="text-center lead"  ng-bind-html="w.wish.description" ng-if="!w.edit"></p>

                <div ng-if="!w.edit && w.wish.urls && w.wish.urls.length > 0">
                    <a ng-href="{{link.url}}" ng-repeat="link in w.wish.urls" target="_blank" class="btn btn-block btn-bordered-gray btn3d btn-default btn-wish-link"><i class="fa fa-external-link"></i><b>   {{link.name||"Plus d'informations"}}  </b></a>
                </div>

                <div class="form-group label-floating " ng-if="w.edit">
                    <label for="description" class="control-label" translate=".INPUT_DESCRIPTION"></label>
                    <summernote id="description" ng-model="w.wish.description" heigth="500" config="w.editorOptions" lang="fr-FR"></summernote>
                </div>
                <div class="form-group" ng-if="w.edit">
                    <label for="link-url" class="control-label" translate=".INPUT_LINKS"></label>
                    <div ng-repeat="link in w.wish.urls" class="links-editor">
                        <input type="url" class="form-control" id="url-{{$index}}" ng-model="link.url" translate translate-attr-placeholder=".INPUT_LINKS_URL_PLACEHOLDER">
                        <input type="text" class="form-control" id="name-{{$index}}" ng-model="link.name" translate translate-attr-placeholder=".INPUT_LINKS_NAME_PLACEHOLDER">
                    </div>
                    <div class="links-editor">
                        <input type="url" class="form-control" id="link-url" ng-model="w.link.url" translate translate-attr-placeholder=".INPUT_LINKS_URL_PLACEHOLDER">
                        <input type="text" class="form-control" id="link-name" ng-model="w.link.name" translate translate-attr-placeholder=".INPUT_LINKS_NAME_PLACEHOLDER" >
                        <button type="submit" class="btn btn-success  btn-just-icon" ng-click="w.addLink(w.link);" translate translate-attr-title=".INPUT_ADD_LINK"><span class="fa fa-plus" aria-hidden="true"></span><span class="sr-only" translate=".INPUT_ADD_LINK"></span></button>
                    </div>
                </div>
                <div class="row" ng-if="w.edit">

                    <div class="form-group col-xs-8">
                            <label for="picture" class="control-label floating-image_label" translate=".INPUT_IMAGE_URL"></label>
                            <input type="url" class="form-control" id="picture" ng-model="w.wish.picture">
                    </div>
                    <div class="col-xs-4">
                        <img ng-src="{{w.wish.picture && w.wish.picture || ('WISH_CARD_COMPONENT.INPUT_IMAGE_PLACEHOLDER' | translate)}}"  class="pull-right img-thumbnail preview-image">
                    </div>

                </div>


                <div class="form-group" ng-if="w.edit">
                    <label for="price" class="control-label" translate=".INPUT_PRICE"></label>
                    <input type="text" class="form-control" id="price" ng-model="w.wish.price">
                </div>


                <div class="">
                    <div title="Rating" class="text-warning col-xs-5 rating pull-left">
                        <div star-rating ng-model="w.wish.rating" readonly=" !w.ownerList && (w.wish.owner !== w.user.email && !w.add)" on-rating-select="w.rateFunction(w.wish.rating)">

                        </div>
                    </div>

                        <div class="btn btn-round btn-xs wish-price  pull-right" title="Prix" ng-show="!w.edit && w.wish.price" ng-class="{'btn-warning':w.wish.userTakeUsers && !w.owner, 'btn-info':w.wish.suggest && !w.wish.userTakeUsers, 'btn-success':!w.wish.suggest && !w.wish.userTakeUsers}">
                            <i class="fa fa-euro"></i>&nbsp;&nbsp;<span class="">{{w.wish.price}}</span>
                </div>
                </div>
                <div class="btn-group btn-group-sm edit-button" ng-if="!w.edit && (w.ownerList || w.wish.owner == w.user.email) ">
                    <button type="button" class="btn btn-warning" ng-click="w.editWish()" translate=".EDIT"></button>
                    <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" translate translate-attr-title=".EDIT_OTHER_OPTIONS">
                        <span class="caret"></span>
                        <span class="sr-only" translate=".EDIT_OTHER_OPTIONS"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="javascript:;" ng-click="w.receivedWish()" translate>.EDIT_OPTIONS_RECEIVED</a></li>
                        <li><a href="javascript:;" ng-click="w.deleteWish()" translate>.EDIT_OPTIONS_DELETE</a></li>
                    </ul>
                </div>
                <button type="button" class="btn btn-warning btn-sm edit-button" ng-if="w.edit && !w.add" ng-click="w.cancelWish()" translate=".CANCEL"></button>
            </div>
            <div class="footer panel-footer bottom-envie" ng-if="!w.ownerList && !w.edit">

                <div title="Cadeau" class="gift pull-right text-warning">
                    <h6 ng-if="!w.ownerList && w.wish.userTakeUsers"><i class="fa fa-gift"></i><span translate translate-values="{name: w.wish.userTakeUsers}">.OFFERED_BY</span>
                        <button type="button" class="btn btn-danger" ng-if="w.wish.userTake.indexOf(w.user.email) >= 0" ng-click="w.cancel(w.wish.id)" translate>.CANCEL</button>
                        <button type="button" class="btn btn-success" ng-if="w.wish.userTake.indexOf(w.user.email) >= 0" ng-click="w.receivedWish()" translate>.GIVEN</button>
                        <button type="button" class="btn btn-success btn3d" ng-if="w.wish.userTake.indexOf(w.user.email) < 0" ng-click="w.given(w.wish.id)"><i class="fa fa-gift fa-lg fa-fw"></i><b translate>.PARTICIPATE</b></button>
                    </h6>
                    <button type="button" class="btn btn-success btn3d" ng-if="!w.ownerList && !w.wish.userTakeUsers" ng-click="w.given(w.wish.id)"><i class="fa fa-gift fa-lg fa-fw"></i><b translate >.TO_OFFER</b></button>
                </div>

                <div class="comments" >
                    <a class="btn btn-link" role="button" aria-expanded="false" aria-controls="collapseExample" ng-click="w.openComment()">
                        <i class="fa fa-comments"></i> <span translate=".COMMENTS" translate-values="{comment_number : w.wish.notes.length}"></span>
                    </a>
                    <div class="collapse" id="comment-{{w.wish.id}}">
                        <div class="chat">
                            <div class="chat-history">
                                <ul class="chat-ul">
                                    <li ng-repeat="note in w.wish.notes" ng-class="{'clearfix':$odd}">
                                        <div class="message-data" ng-class="{'align-right':$odd}">
                                            <span class="message-data-name"><i class="fa fa-circle you"></i>&nbsp; <strong> {{note.owner}}</strong> <span class="text-muted" ng-class="{'pull-left':$odd}" am-time-ago="note.date">commented 5 days ago</span></span>
                                        </div>
                                        <div class="message" ng-class="{'float-right':$odd, 'me-message':$odd, 'you-message':$even}">
                                            {{note.text}}
                                        </div>
                                    </li>
                                </ul>
                            </div> <!-- end chat-history -->
                        </div> <!-- end chat -->
                        <form class="form form-add-comment">
                            <div class="row">
                                <div class="form-group col-xs-9 comment-form">
                                <label for="note-{{$index}}" class="control-label" translate=".ADD_COMMENTS_LABEL"></label>
                                <textarea class="form-control comment-textarea" id="note-{{$index}}" ng-model="w.note.text" >
                                        </textarea>
                            </div>
                                <div class="col-xs-3">
                                    <button type="submit" class="btn btn-default btn-lg btn-bordered-gray btn-just-icon" ng-click="w.addNote(w.wish, w.note)" translate translate-attr-title=".ADD_COMMENTS_BUTTON"><i class="fa fa-comment"></i></button>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
                <!--<p></p><br>
                <p><span class="label label-success">Tecnologia</span><span class="label label-warning">Programação</span><span class="label label-danger">Python</span><span class="label label-info">Dinâmica</span></p>-->
            </div>
            <div class="footer panel-footer bottom-envie" ng-if="w.edit">
                <button type="submit" class="btn btn-success" ng-click="w.updateWish()" translate="{{!w.add ? '.EDIT' : '.ADD'}}"></button>
                <button type="submit" class="btn btn-danger btn-simple" ng-click="w.cancelWish()" translate=".CANCEL"></button>
            </div>
        </div>
    </div>
