<app-flip-card >


    <mat-card class="wish-card flip-front">

      <mat-card-header>
        <mat-card-title>{{wishItem.label}}</mat-card-title>
        <mat-card-subtitle>{{wishItem.owner.name}}</mat-card-subtitle>
        <div mat-card-avatar class="example-header-image"></div>
      </mat-card-header>
      <img mat-card-image [src]="wishItem.pictures ? wishItem.pictures[0] : ''" alt="{{wishItem.label}}">
      <mat-card-content>
        <p [innerHTML]="wishItem.description">
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="wish-card flip-back">


      <form class="example-form">
        <mat-card-header>
          <mat-card-title>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="title" disabled value="wishItem.label">
            </mat-form-field>
          </mat-card-title>
          <mat-card-subtitle>{{wishItem.owner.name}}</mat-card-subtitle>
        </mat-card-header>


        <table class="example-full-width" cellspacing="0"><tr>
          <td><mat-form-field class="example-full-width">
            <input matInput placeholder="First name">
          </mat-form-field></td>
          <td><mat-form-field class="example-full-width">
            <input matInput placeholder="Long Last Name That Will Be Truncated">
          </mat-form-field></td>
        </tr></table>

        <p>
          <mat-form-field class="example-full-width">
            <textarea matInput placeholder="Address">1600 Amphitheatre Pkwy</textarea>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <textarea matInput placeholder="Address 2"></textarea>
          </mat-form-field>
        </p>

        <table class="example-full-width" cellspacing="0"><tr>
          <td><mat-form-field class="example-full-width">
            <input matInput placeholder="City">
          </mat-form-field></td>
          <td><mat-form-field class="example-full-width">
            <input matInput placeholder="State">
          </mat-form-field></td>
          <td><mat-form-field class="example-full-width">
            <input matInput #postalCode maxlength="5" placeholder="Postal Code" value="94043">
            <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
          </mat-form-field></td>
        </tr></table>
      </form>

    </mat-card>

</app-flip-card>

