<app-flip-card [flip]="edit">


  <mat-card class="wish-card flip-front">

    <mat-card-header>
      <mat-card-title>{{wishItem.label}}</mat-card-title>
      <mat-card-subtitle>{{wishItem.owner.name}}</mat-card-subtitle>
      <div mat-card-avatar class="example-header-image"></div>
    </mat-card-header>
    <img mat-card-image *ngFor="let picture of wishItem.pictures" [src]="picture" alt="{{wishItem.label}}">
    <mat-card-content>
      <p [innerHTML]="wishItem.description">
      </p>
      <mat-chip-list *ngIf="wishItem.price">
        <mat-chip color="primary">{{wishItem.price}}</mat-chip>
      </mat-chip-list>
      <app-rating *ngIf="wishItem.rating" [value]="wishItem.rating" [readonly]="true"></app-rating>


      <mat-expansion-panel *ngIf="wishItem.canSuggest">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Commentaires
          </mat-panel-title>
          <mat-panel-description>
            {{wishItem.comments.length}}
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-list>
          <mat-list-item *ngFor="let comment of wishItem.comments"> {{comment.text}}</mat-list-item>
        </mat-list>

      </mat-expansion-panel>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Offrir</button>
      <button mat-button (click)="editWish()">Modifier</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="wish-card flip-back">


    <form class="example-form">
      <mat-card-header>
        <mat-card-title>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="title" disabled value="wishItem.label">
          </mat-form-field>
        </mat-card-title>
        <mat-card-subtitle>{{wishItem.owner.name}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="First name">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Long Last Name That Will Be Truncated">
        </mat-form-field>
        <p>
          <mat-form-field class="example-full-width">
            <textarea matInput placeholder="Address">1600 Amphitheatre Pkwy</textarea>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <textarea matInput placeholder="Address 2"></textarea>
          </mat-form-field>
        </p>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="City">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="State">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput #postalCode maxlength="5" placeholder="Postal Code" value="94043">
          <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
        </mat-form-field>
        <mat-form-field>
          <app-rating placeholder="Note" ([value])="wishItem.rating" [readonly]="false"></app-rating>
        </mat-form-field>

      </mat-card-content>
    </form>

    <mat-card-actions>
      <button mat-button (click)="cancelEditWish()">Cancel</button>
      <button mat-button>Modifier</button>
    </mat-card-actions>
  </mat-card>

</app-flip-card>

