.header-page-card {
  margin-top: 0px;
}

.whishList-Container {
  margin: 2em auto;
  padding: 2em;
}

.wishListCard {
  width: 420px;
  display: inline-block;
  margin: 1em;
  cursor: pointer;
  @media screen and (max-width: 600px) {
    width: 100%;
  }
}

img.mat-card-avatar {
  height: 29px;
  width: 30px;
  margin: 0 5px;
}
