<div>
  <div class="page-background"></div>
  <mat-card class="header-page-card">
    <section class="mat-typography">
      <div *ngIf="userAuth | async as user; else showLogin">
        <h1>
          Bonjour {{ user.displayName }}! Bienvenue sur vos listes d'envies
        </h1>
      </div>
      <ng-template #showLogin>
        <h1>Bienvenue sur la liste de vos envies</h1>
        <p>
          Unique en son genre ! Voici LA liste d'envies qui vous permet de
          partager vos envies de cadeaux avec vos proches. Ainsi, ces derniers
          peuvent indiquer quel(s) cadeau(x) ils souhaitent vous offrir, se
          mettre d'accord entre eux,(en évitant les doublons!)sans que vous en
          soyez informé. Vous aurez la surprise le jour j !
        </p>
        <p>
          Vous pouvez vous connecter / ou créer un compte pour commencer à créer
          votre liste.
        </p>
        <a mat-button color="primary" routerLink="/about">En savoir plus</a
        ><a mat-raised-button color="primary" (click)="connect()"
          >Connexion / créer un compte</a
        > <p>Vous pouvez aussi vous connecter ou vous inscrire à partir de vos comptes suivants : </p>
        <ngx-auth-firebaseui-providers [providers]="providers"></ngx-auth-firebaseui-providers>
      </ng-template>
    </section>
  </mat-card>

  <span class="done" *ngIf="userAuth | async">
    <button
      mat-fab
      matTooltip="Créer une nouvelle liste d'envies"
      matTooltipPosition="left"
      routerLink="/addList"
    >
      <mat-icon>playlist_add</mat-icon>
    </button>
  </span>
  <mat-grid-list
    *ngIf="!(loading$ | async); else loading"
    cols="3"
    rowHeight="80"
    gutterSize="4"
    class="whishList-Container"
  >
    <mat-grid-tile *ngFor="let wishList of list$ | async">
      <wish-list-item class="wishListCard" [wishlist]="wishList">
      </wish-list-item>
    </mat-grid-tile>
  </mat-grid-list>

  <ng-template #loading>
    <div fxLayout="column" fxLayoutAlign="center center">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</div>
