<mat-list-item class="menu-wishlist" [class.active]="active" [routerLink]="active ? null : ['/', wishlist.name]">
  <div class="menu-wishlist-wrapper">
    <div class="image-container">
      <img [src]="'/assets/thumb/' + wishlist.picture" class="background-images" />
      <div class="icon-overlay">
        <list-type-icon [type]="wishlist.type" size="large"></list-type-icon>
      </div>
    </div>
    <div class="text-container">
      <h4 class="wishlist-title">{{ wishlist.title }}</h4>
      <div class="wishlist-owners">
        @for (owner of wishlist.owners; track owner; let last = $last) {
        <app-avatar [gravatarId]="owner.email" [matTooltip]="owner.name" [name]="owner.name" [round]="true"
          [src]="owner.photoURL" matTooltipPosition="above" size="15">
        </app-avatar>
        }
      </div>
    </div>
  </div>
  @if (notifsCount$ | async; as notifsCount) {
  <span class="notification-list">
    <mat-icon [matBadge]="notifsCount" color="accent" matBadgeSize="medium"
      matBadgeColor="primary">notifications_active</mat-icon></span>
  }
</mat-list-item>