<form
  fxLayout="row nowrap"
  fxLayoutAlign="space-between center"
  fxLayoutGap="10"
  [formGroup]="filtersForm"
>
  <mat-button-toggle-group
    #typeWishToogle="matButtonToggleGroup"
    formControlName="type"
  >
    <mat-button-toggle value="all">Tous</mat-button-toggle>
    <mat-button-toggle value="to_give">A offrir</mat-button-toggle>
    <mat-button-toggle value="given">Offert</mat-button-toggle>
    <mat-button-toggle value="suggest">Suggestion</mat-button-toggle>
  </mat-button-toggle-group>

  <mat-button-toggle-group
    #commentToogle="matButtonToggleGroup"
    formControlName="comment"
  >
    <mat-button-toggle value="comment">Commentaires</mat-button-toggle>
  </mat-button-toggle-group>

  <mat-form-field appearance="fill">
    <mat-label>Recherche</mat-label>
    <input matInput placeholder="Placeholder" formControlName="search" />
    <mat-icon matSuffix>search</mat-icon>
    <mat-hint>Recherche dans les envies</mat-hint>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Trier</mat-label>
    <mat-select placeholder="Trier par" formControlName="sort">
      <mat-option value="+label">Titre - ASC</mat-option>
      <mat-option value="-label">Titre - DESC</mat-option>
      <mat-option value="+price">Prix - ASC</mat-option>
      <mat-option value="-price">Prix - DESC</mat-option>
      <mat-option value="+date">date - ASC</mat-option>
      <mat-option value="-date">date - DESC</mat-option>
      <mat-option value="+rating">Note - ASC</mat-option>
      <mat-option value="-rating">Note - DESC</mat-option>
    </mat-select>
  </mat-form-field>
</form>
<div>
  <mat-chip-list>
    <mat-chip
      removable="true"
      (removed)="removeFilter(filter.id)"
      *ngFor="let filter of (filters | async)"
      >{{ filter.name }}
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
  </mat-chip-list>
</div>
