<div class="grid">
  <mat-form-field appearance="outline" class="col-12">
    <mat-label>Ajouter une image</mat-label>
    <input
      matInput="url"
      placeholder="Url du l'image"
      #name
      [(ngModel)]="addImage"
    />

    <button mat-mini-fab (click)="addImg(name.value)" matSuffix>
      <mat-icon>add</mat-icon>
    </button>
  </mat-form-field>
</div>

<div *ngIf="(newImages && newImages.length > 0) || addImage">
  <mat-grid-list cols="4" rowHeight="1:2">
    <mat-grid-tile *ngFor="let img of newImages" (click)="removeImg(img)">
      <img [src]="img" />
    </mat-grid-tile>
    <mat-grid-tile *ngIf="addImage"> <img [src]="addImage" /> </mat-grid-tile>
  </mat-grid-list>
</div>
