body {

}

@media(min-width:768px) {

}

#wrapper {

}

#page-wrapper {

}

@media(min-width:768px) {
    #wrapper {

    }

    #page-wrapper {
        padding: 10px;
    }
}

.page-background {
    background-image: url('https://images.unsplash.com/photo-1477728275068-39b7f46df4d2?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#page-wrapper {
    min-height: 1000px;
}

.main-raised {
    margin: -60px 0px 0px;
    padding: 2px;
}

.home-header {
    margin-bottom: 10px;
    padding: 0 20px;
}

.list-envies .list-envies-item {
    margin: 10px 0;
    border-radius: 6px;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.mega-dropdown {
    position: static !important;
    width:100%;
}
.mega-dropdown-menu {
    padding: 20px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.mega-dropdown-menu:before {
    content: "";
    border-bottom: 15px solid #fff;
    border-right: 17px solid transparent;
    border-left: 17px solid transparent;
    position: absolute;
    top: -15px;
    left: 205px;
    z-index: 10;
}
.mega-dropdown-menu:after {
    content: "";
    border-bottom: 17px solid #ccc;
    border-right: 19px solid transparent;
    border-left: 19px solid transparent;
    position: absolute;
    top: -17px;
    left: 203px;
    z-index: 8;
}

.mega-dropdown-menu .list-group-item {
    float: left;
    width: 15%;
    margin: 0.2%;
    padding: 0;
    border-radius: 5px;
}

.mega-dropdown-menu .list-group-item a {
    margin: 0;
    cursor: pointer;
}


.edit-button {
    display: none;
    position: absolute;
    top: 2px;
    right: 9px;
}


.title .btn {
    display: none;
}
.title:hover .btn {
    display: inline-block !important;
}

.title-edit {
    font-size: 36px;
    width: auto;
    outline: none;
    padding: 0;
}

.form-share-to-user {
    border: solid lightgray 1px;
    border-radius: 4px;
    padding: 1px;
    margin: 0;
}

.form-share-to-user .checkbox {
    margin-top: 41px;
}

.form-share-to-user .col-xs-6 {
    padding: 1px;
}

.form-share-to-user .col-xs-3 {
    padding: 1px;
    text-align: right;
}

.form-share-to-user button.btn {
    margin-top: 31px;
}

#share-list li.list-group-item.ng-binding.ng-scope {
    padding: 5px 10px;
}

#share-list li.list-group-item .btn-sm {
    padding: 2px;
    margin: 2px 5px 2px 0;
}

.order-filter {
    /*display: flex;
    justify-content: space-between;*/
    margin-bottom: 15px;
}
.order-btn .btn:active, .order-btn .btn:focus {
    outline: none;
}

.order-filter .form-group {
    margin: 0;
    padding: 0;
}



.list-envie .envie-item:hover .edit-button {
    display: block !important;
}

.list-envie .envie-separator {
    clear: both;
}

.list-envie .wish-edit {
    margin-top: -4px !important;
}

.list-envie .note-statusbar {
    display: none !important;
}

.list-envie .preview-image {
    height: 100px;
    width: 100px;
}

/*.list-envie .envie-item .panel-body {
    min-height: 110px;
}

.list-envie .envie-item .bottom-envie {
    min-height: 70px;
}*/

.list-envie .envie-item .bottom-envie .comments  a {
    color: black;
}

.list-envie .envie-item .bottom-envie .comments  a:hover {
    color: gray;
}

.list-envie .envie-item .logo-envie {
    margin-top: -34px;
}



.list-envie .envie-item {
    box-shadow: 0 13px 18px 0 rgba(0, 0, 0, 0.58), 0 13px 22px 0 rgba(0, 0, 0, 0.12);
}

.envie-card .panel-body {
    padding-top: 2px;
}

.envie-card .envie-infos .fa{
    margin-right: 3px;
}
.envie-card .envie-infos .col{
    padding: 1px;
}

.envie-card .wish-price {
    margin: 0 !important;
}

.envie-card .rating {
    margin-top: 2px;
}

.envie-card .envie-infos {
    min-height: 29px;
    border-bottom: lightgray dashed 0.5px;
    margin-bottom: 10px;
}

.envie-card a.btn-wish-link {
    /* Do not surcharge border top, used bordered */
    border-left: #f1f1f1 solid 1px;
    border-right: #f1f1f1 solid 1px;
    border-bottom: #f1f1f1 solid 1px;
}

.order-filter .search {
    padding-top: 45px;
}

.order-filter .has-feedback label~.form-control-feedback {
    opacity: 1;
    top: 14px;
    display: block;
}

.order-filter input#searchEnvieFilter {

}

.order-filter .reset-search-icon {
    margin-top: -10px;
}

div.material-icons.form-control-feedback {
    cursor: pointer;
    color: gray;
}

.card .header {
    padding: 2px !important;
    margin: 6px;
    margin-top: 4px;
    box-shadow: 0 4px 16px -3px rgba(0, 0, 0, 0.56);
    background: white;
}

.envie-container {
    padding-top: 20px;
}

.envie-card .panel {
     /*box-shadow: none;*/
}

.envie-card .panel .footer {
    padding: 5px;
}

.envie-card h1 {
    font-size: 1.5em;
}

.envie-card .gift {
    margin: 0;
    margin-top: 0;
    padding: 0px 13px 0 0;
}

.envie-card .gift h6 {
    margin: 0;
}






/** Comentaires **/

.chat .chat-history {
    padding: 0;
    border-bottom: 2px solid white;
}
.chat .chat-history .message-data {
    margin-bottom: 15px;
}
.chat .chat-history .message-data-time {
    color: #a8aab1;
    padding-left: 6px;
}
.chat .chat-history .message {
    color: white;
    padding: 18px 20px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 5px;
    margin-bottom: 5px;
    width: 90%;
    position: relative;
}
.chat .chat-history .message:after {
    content: "";
    position: absolute;
    top: -15px;
    left: 20px;
    border-width: 0 15px 15px;
    border-style: solid;
    border-color: #31708f transparent;
    display: block;
    width: 0;
}
.chat .chat-history .you-message {
    background: #31708f;
    color:#FFFFFF;
}
.chat .chat-history .me-message {
    background: #8a6d3b;
}
.chat .chat-history .me-message:after {
    right: 20px;
    top: -15px;
    left: auto;
    bottom:auto;
}

/** For success **/
.panel-success .chat .chat-history .you-message {
    background: #3c763d;
}

.panel-success .chat .chat-history .message:after {
    border-color: #3c763d transparent;
}

.panel-success .chat .chat-history .me-message {
    background: #5cb85c;
}

.panel-success .chat .chat-history .me-message:after {
    border-color: #5cb85c transparent;
}

/** For Warning **/
.panel-warning .chat .chat-history .you-message {
    background: #8a6d3b;
}

.panel-warning .chat .chat-history .message:after {
    border-color: #8a6d3b transparent;
}

.panel-warning .chat .chat-history .me-message {
    background: #f0ad4e;
}

.panel-warning .chat .chat-history .me-message:after {
    border-color: #f0ad4e transparent;
}

/** For info **/
.panel-info .chat .chat-history .you-message {
    background: #31708f;
}

.panel-info .chat .chat-history .message:after {
    border-color: #31708f transparent;
}

.panel-info .chat .chat-history .me-message {
    background: #5bc0de;
}

.panel-info .chat .chat-history .me-message:after {
    border-color: #5bc0de transparent;
}




.chat {
    padding: 0 10px;
}


.chat .chat-message {
    padding: 30px;
}
.chat .chat-message .fa-file-o, .chat .chat-message .fa-file-image-o {
    font-size: 16px;
    color: gray;
    cursor: pointer;
}

.chat .chat-ul li{
    list-style-type: none;
}

.chat .chat-ul{
    padding: 0;
}

.chat .align-left {
    text-align: left;
}

.chat .align-right {
    text-align: right;
}

.chat .float-right {
    float: right;
}

.chat .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.chat .you {
    color: #CCDBDC;
}

.chat .me {
    color: #5f5e5e;
}

.links-editor input {
    width: 44%;
    display: inline-block;
}

.envie-item .comment-form {
    background: white;
    padding: 1px 2px;
    margin: 5px 0 0;
}

.envie-item .comment-form label {
    margin: 0;
}

.envie-item .comment-form .comment-textarea {
    margin: 0;
    padding: 0;
}

.envie-item form.form.form-add-comment {
    padding: 0 11px 2px 26px;
}

.envie-item form.form.form-add-comment button.btn {
    position: relative;
    bottom: -10px;
}


.spin {
    -webkit-animation: spin .4s infinite linear;
    -moz-animation: spin .4s infinite linear;
    -o-animation: spin .4s infinite linear;
    animation: spin .4s infinite linear;
    -webkit-transform-origin: 50% 58%;
    transform-origin:50% 58%;
    -ms-transform-origin:50% 58%; /* IE 9 */
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top30 { margin-top:30px; }


/** loading **/

.loading {
    height: 100vh;
    width: 100vw;
    font-family: Helvetica;
}

.loader {
    height: 20px;
    width: 250px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.loader--dot {
    animation-name: loader;
    animation-timing-function: ease-in-out;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background-color: black;
    position: absolute;
    border: 2px solid white;
}
.loader--dot:first-child {
    background-color: #8cc759;
    animation-delay: 0.5s;
}
.loader--dot:nth-child(2) {
    background-color: #8c6daf;
    animation-delay: 0.4s;
}
.loader--dot:nth-child(3) {
    background-color: #ef5d74;
    animation-delay: 0.3s;
}
.loader--dot:nth-child(4) {
    background-color: #f9a74b;
    animation-delay: 0.2s;
}
.loader--dot:nth-child(5) {
    background-color: #60beeb;
    animation-delay: 0.1s;
}
.loader--dot:nth-child(6) {
    background-color: #fbef5a;
    animation-delay: 0s;
}
.loader--text {
    position: absolute;
    top: 200%;
    left: 0;
    right: 0;
    width: 4rem;
    margin: auto;
}
.loader--text:after {
    content: "Chargement";
    font-weight: bold;
    animation-name: loading-text;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes loader {
    15% {
        transform: translateX(0);
    }
    45% {
        transform: translateX(230px);
    }
    65% {
        transform: translateX(230px);
    }
    95% {
        transform: translateX(0);
    }
}
@keyframes loading-text {
    0% {
        content: "Chargement";
    }
    25% {
        content: "Chargement.";
    }
    50% {
        content: "Chargement..";
    }
    75% {
        content: "Chargement...";
    }
}

/** Rating **/

.star-rating {
    margin: 0;
    padding: 0;
    display: flex;
}
.star-rating > .star, .star-rating > .cancel-rating {
    padding: 1px;
    color: #ddd;
    font-size: 20px;
    text-shadow: .05em .05em #aaa;
    list-style-type: none;
    display: inline-block;
    cursor: pointer;
}

.star-rating.readonly > .star {
    cursor: not-allowed;
}


.star-rating .star.filled {
    color: #ff572d;
}
.star-rating.readonly .star.filled {
    color: #ffa77c;
    cursor: not-allowed;
}

.star-rating:not(.readonly):hover .star, .star-rating:not(.readonly):hover .star.filled {
    color: #ff002c;
}

.star-rating:not(.readonly) > .star:hover ~ .star, .star-rating:not(.readonly) > .cancel-rating:hover ~ .star {
    color: #ddd !important;
}

.modal-dialog {
    z-index: 1500 !important;
}

.modal-backdrop {
    z-index: 1 !important;
}

.notif-menu {
    padding: 5px;
    min-width: 250px;
}

li.notif {
    color: #333;
    border-bottom: 1px solid #e2e2e2;
}

li.notif .fa {
    color: #666;
    margin: 0 5px;
}

.dropdown-menu {
    z-index: 2000 !important;
}


