.edit-button {
    display: none;
    position: absolute;
    top: 31px;
    right: 24px;
}

.comment-textarea {

}
.title .btn {
    display: none;
}
.title:hover .btn {
    display: inline-block !important;
}

.title-edit {
    font-size: 36px;
    width: auto;
    outline: none;
    padding: 0;
}

.list-envie .envie-item:hover .edit-button {
    display: block !important;
}

.list-envie .envie-separator {
    clear: both;
}

.list-envie .envie-item .panel-body {
    min-height: 110px;
}

.list-envie .envie-item .bottom-envie {
    min-height: 70px;
}

.list-envie .envie-item .bottom-envie .comments  a {
    color: black;
}

.list-envie .envie-item .bottom-envie .comments  a:hover {
    color: gray;
}

.list-envie .envie-item .logo-envie {
    margin-top: -34px;
}

/** Comentaires **/

.chat .chat-history {
    padding: 0;
    border-bottom: 2px solid white;
}
.chat .chat-history .message-data {
    margin-bottom: 15px;
}
.chat .chat-history .message-data-time {
    color: #a8aab1;
    padding-left: 6px;
}
.chat .chat-history .message {
    color: white;
    padding: 18px 20px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 5px;
    margin-bottom: 5px;
    width: 90%;
    position: relative;
}
.chat .chat-history .message:after {
    content: "";
    position: absolute;
    top: -15px;
    left: 20px;
    border-width: 0 15px 15px;
    border-style: solid;
    border-color: #CCDBDC transparent;
    display: block;
    width: 0;
}
.chat .chat-history .you-message {
    background: #CCDBDC;
    color:#003366;
}
.chat .chat-history .me-message {
    background: #b0afae;
}
.chat .chat-history .me-message:after {
    border-color: #b0afae transparent;
    right: 20px;
    top: -15px;
    left: auto;
    bottom:auto;
}
.chat .chat-message {
    padding: 30px;
}
.chat .chat-message .fa-file-o, .chat .chat-message .fa-file-image-o {
    font-size: 16px;
    color: gray;
    cursor: pointer;
}

.chat .chat-ul li{
    list-style-type: none;
}

.chat .chat-ul{
    padding: 0;
}

.chat .align-left {
    text-align: left;
}

.chat .align-right {
    text-align: right;
}

.chat .float-right {
    float: right;
}

.chat .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.chat .you {
    color: #CCDBDC;
}

.chat .me {
    color: #5f5e5e;
}

.links-editor input {
    width: 44%;
    display: inline-block;
}


.spin {
    -webkit-animation: spin .4s infinite linear;
    -moz-animation: spin .4s infinite linear;
    -o-animation: spin .4s infinite linear;
    animation: spin .4s infinite linear;
    -webkit-transform-origin: 50% 58%;
    transform-origin:50% 58%;
    -ms-transform-origin:50% 58%; /* IE 9 */
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top30 { margin-top:30px; }


/** loading **/

.loading {
    height: 100vh;
    width: 100vw;
    font-family: Helvetica;
}

.loader {
    height: 20px;
    width: 250px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.loader--dot {
    animation-name: loader;
    animation-timing-function: ease-in-out;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background-color: black;
    position: absolute;
    border: 2px solid white;
}
.loader--dot:first-child {
    background-color: #8cc759;
    animation-delay: 0.5s;
}
.loader--dot:nth-child(2) {
    background-color: #8c6daf;
    animation-delay: 0.4s;
}
.loader--dot:nth-child(3) {
    background-color: #ef5d74;
    animation-delay: 0.3s;
}
.loader--dot:nth-child(4) {
    background-color: #f9a74b;
    animation-delay: 0.2s;
}
.loader--dot:nth-child(5) {
    background-color: #60beeb;
    animation-delay: 0.1s;
}
.loader--dot:nth-child(6) {
    background-color: #fbef5a;
    animation-delay: 0s;
}
.loader--text {
    position: absolute;
    top: 200%;
    left: 0;
    right: 0;
    width: 4rem;
    margin: auto;
}
.loader--text:after {
    content: "Chargement";
    font-weight: bold;
    animation-name: loading-text;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes loader {
    15% {
        transform: translateX(0);
    }
    45% {
        transform: translateX(230px);
    }
    65% {
        transform: translateX(230px);
    }
    95% {
        transform: translateX(0);
    }
}
@keyframes loading-text {
    0% {
        content: "Chargement";
    }
    25% {
        content: "Chargement.";
    }
    50% {
        content: "Chargement..";
    }
    75% {
        content: "Chargement...";
    }
}
