<mat-card
  appearance="outlined"
  class="wish-card flip-front layout-column space-between-stretch"
  [ngClass]="{ active: isActive$ | async, draft: wishItem.draft }"
  [@animateWishCard]="animateWishCard"
>
  @if (wishItem.draft) {
  <mat-progress-bar mode="query"></mat-progress-bar>
  }

  <mat-card-header class="layout-column space-between-stretch">
    <div
      [class]="headerClass(wishItem)"
      class="layout-row space-between-center"
    >
      <span
        class="col-9 wish-title"
        [class.wish-title-small]="wishItem.label?.length < 20"
        [class.wish-title-medium]="
          wishItem.label?.length >= 20 && wishItem.label?.length < 60
        "
        [class.wish-title-big]="wishItem.label?.length >= 60"
        >{{ wishItem.label }}</span
      >
      <span>
        @if (wishItem.suggest) {
        <button mat-icon-button class="col-1 push-right" disabled>
          <mat-icon
            matTooltip="Suggestion : cette envie n'est pas visible par les co-bénéficiaires de la liste"
            >wb_incandescent</mat-icon
          >
        </button>
        }
        <button
          mat-icon-button
          [matMenuTriggerFor]="menu"
          class="col-1 push-right"
        >
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
          @if (wishItem.canEdit) {
          <button
            mat-menu-item
            disabled
            [disabled]="readOnly"
            (click)="archive(wishItem)"
          >
            <mat-icon>archive</mat-icon>
            <span>Archiver</span>
          </button>
          } @if (wishItem.canEdit) {
          <button
            mat-menu-item
            disabled
            [disabled]="readOnly"
            (click)="remove(wishItem)"
          >
            <mat-icon>delete</mat-icon>
            <span>Supprimer</span>
          </button>
          }
          <button mat-menu-item disabled>
            <mat-icon>file_copy</mat-icon>
            <span>Copier</span>
          </button>
        </mat-menu>
      </span>
    </div>
    <div class="wish-subtitle layout-row space-between-stretch">
      <span matTooltip="{{ wishItem.date | date: 'long' }}" class="date"
        ><mat-icon>date_range</mat-icon>
        {{ wishItem.date | amLocal: "fr" | amTimeAgo }}</span
      >
      <div
        class="owner"
        matTooltip="{{ wishItem?.owner?.name }} : {{ wishItem?.owner?.email }}"
      >
        <app-avatar
          [name]="wishItem?.owner?.name || wishItem?.owner?.email"
          [gravatarId]="wishItem?.owner?.email"
          size="15"
          [round]="true"
        >
        </app-avatar>
        <span class="ownerName">{{ wishItem?.owner?.name }}</span>
      </div>
    </div>
    <mat-divider inset="true"></mat-divider>
  </mat-card-header>
  @if (wishItem.pictures && wishItem.pictures.length > 1) {
  <div class="card-image">
    <div class="swiper-fraction">
      <mat-chip-option
        >{{ index + 1 }} / {{ wishItem.pictures.length }}</mat-chip-option
      >
    </div>
    <div class="swiper-pagination"></div>
    <swiper [config]="SWIPER_CONFIG" [(index)]="index">
      @for (picture of wishItem.pictures; track picture) {
      <div class="swiper-slide">
        <img
          data-src="{{ picture }}"
          alt="{{ wishItem.label }}"
          class="swiper-lazy fixed"
        />
        <div class="swiper-lazy-preloader"></div>
      </div>
      }
    </swiper>
    <div class="scrollbar"></div>
  </div>
  } @else { @if (wishItem.pictures && wishItem.pictures.length == 1) {
  <div class="swiper-slide">
    <img
      data-src="{{ wishItem.pictures[0] }}"
      alt="{{ wishItem.label }}"
      class="swiper-lazy border"
    />
  </div>
  } }

  <mat-card-content class="wish-content layout-column space-between-stretch">
    <div class="layout-row space-between-stretch">
      <mat-chip-listbox>
        @if (wishItem.price) {
        <mat-chip-option
          color="primary"
          selected
          class="wish-price"
          [matTooltip]="wishItem.price"
        >
          {{ wishItem.price | truncate: 37:"..." }}
          <mat-icon matChipRemove>euro_symbol</mat-icon>
        </mat-chip-option>
        }
      </mat-chip-listbox>
      @if (wishItem.rating) {
      <app-rating [value]="wishItem.rating" [readonly]="true"></app-rating>
      }
    </div>

    <read-more [content]="wishItem.description" maxHeight="100"></read-more>

    @if (wishItem.urls && wishItem.urls.length > 0) {
    <div>
      <mat-chip-listbox>
        @if (wishItem.urls.length === 1) {
        <span>Lien :</span>
        } @else { Liens : } @for (url of wishItem.urls; track url) {
        <a
          [href]="url.url"
          target="_blank"
          [matTooltip]="
            url?.name
              ? 'Acheter sur ' + url?.name + ' : ' + url.url
              : 'Acheter sur : ' + url.url
          "
        >
          <mat-chip-option selectable class="link-chips"
            >{{
              !url.name ? "lien pour acheter" : (url.name | truncate: 46:"...")
            }}
            <mat-icon matChipRemove>open_in_new</mat-icon>
          </mat-chip-option>
        </a>
        }
      </mat-chip-listbox>
    </div>
    }

    <br />
    @if (wishItem.canParticipate) {
    <mat-expansion-panel
      (opened)="commentExpanded = true"
      (closed)="commentExpanded = false"
      [expanded]="commentExpanded"
      class="comments badge-expansion-panel mat-elevation-z0"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon
            class="comment_icon"
            [matBadge]="wishItem.comments ? wishItem.comments.length : 0"
            inline="true"
            [matBadgeColor]="wishItem.comments ? 'warn' : ''"
            matBadgeSize="medium"
            >comment
          </mat-icon>
          {{
            wishItem.comments && wishItem.comments.length > 1
              ? "Commentaires"
              : "Commentaire"
          }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list>
        @if (wishItem.comments && wishItem.comments.length > 0) { @for ( comment
        of wishItem.comments; track comment; let even = $even; let odd = $odd;
        let last = $last) {
        <mat-list-item
          class="comment_item"
          [ngClass]="{ even: even, odd: odd }"
        >
          <app-avatar
            matListAvatar
            [name]="comment.from?.name || comment.from?.email"
            [gravatarId]="comment.from?.email"
            size="40"
            [round]="true"
            [matTooltip]="comment?.from?.name"
          ></app-avatar>
          <p matLine>
            de
            <span [matTooltip]="comment?.from?.email">
              <mat-icon inline="true">person</mat-icon>
              <b>{{ comment?.from?.name }}</b></span
            >
            il y
            <span
              title="{{ comment?.date | date: 'long' }}"
              [matTooltip]="comment?.date | date: 'long'"
            >
              <mat-icon inline="true">date_range</mat-icon>
              {{ comment?.date | amLocal: "fr" | amTimeAgo }}
            </span>
          </p>
          <h6 matLine><span [innerHTML]="comment?.text"></span></h6>
          @if (!last) {
          <mat-divider [inset]="true"></mat-divider>
          }
        </mat-list-item>
        }
        <mat-divider inset="true"></mat-divider>
        }
      </mat-list>
      <ng-template matExpansionPanelContent>
        @if (wishItem.canParticipate) {
        <mat-action-row class="add_comment">
          <!-- <div> -->
          <mat-form-field appearance="fill">
            <mat-label>Ajouter un commentaire</mat-label>
            <!--
                          <textarea
                            matInput
                            placeholder="Entrez votre commentaire"
                            #addComment
                            (submit)="sendComment(addComment.value)"
                          ></textarea>
                          -->
            <app-html-editor
              [content]="addComment"
              (contentChange)="addComment = $event"
              type="light"
              placeholder="Tapez ici votre commentaire et cliquez sur le bouton pour l'envoyer"
            ></app-html-editor>
            <button
              mat-mini-fab
              matSuffix
              matTooltip="Envoyer le commentaire"
              class="button-add-comment"
              (click)="sendComment(addComment, wishItem)"
              [disabled]="readOnly"
            >
              <mat-icon aria-label="Envoyer le commentaire"
                >add_comment
              </mat-icon>
            </button>
            <mat-hint>
              le commentaire ne sera pas visible pour les bénéficiaires de la
              liste
            </mat-hint>
          </mat-form-field>
          <!-- </div> -->
        </mat-action-row>
        }
      </ng-template>
    </mat-expansion-panel>
    }
  </mat-card-content>

  <mat-card-actions class="wish-footer">
    @if (wishItem.allreadyGiven) {
    <mat-label color="warn" class="allreadyGiven" disableRipple="true">
      Déjà offert
    </mat-label>
    } @if (wishItem.userTake?.length > 0) {
    <mat-label color="warn" disableRipple="true" class="userGiven">
      <span>Sera offert par</span>
      @for (userGiven of wishItem.userTake; track userGiven; let last = $last) {
      <span matTooltip="{{ userGiven?.name }} : {{ userGiven?.email }}">
        <app-avatar
          [name]="userGiven?.name || userGiven?.email"
          [gravatarId]="userGiven?.email"
          size="15"
          [round]="true"
        ></app-avatar>
        {{ userGiven?.name }}{{ !last ? "," : "" }}
      </span>
      }
    </mat-label>
    } @if (wishItem.given && wishItem.canParticipate && !wishItem.userGiven) {
    <button
      mat-stroked-button
      class="wish-action-button"
      color="accent"
      (click)="give(wishItem)"
      [disabled]="readOnly"
      [matTooltip]="'Je souhaite joindre ma participation à cette envie'"
    >
      Je souhaite participer
    </button>
    } @if (wishItem.canParticipate && wishItem.userGiven) {
    <button
      mat-stroked-button
      class="wish-action-button"
      color="warn"
      (click)="cancelGive(wishItem)"
      [disabled]="readOnly"
      matTooltip="Annulez ma participation à cette envie"
    >
      Annuler ma participation
    </button>
    } @if ( !wishItem.allreadyGiven && !wishItem.given &&
    wishItem.canParticipate ) {
    <button
      mat-raised-button
      class="wish-action-button"
      color="accent"
      [disabled]="readOnly"
      (click)="give(wishItem)"
      matTooltip="Indiquez aux autres que vous offrez cette envie, puis à vous de l'acheter et de l'offrir"
    >
      je souhaite l'offrir
    </button>
    } @if (wishItem.canEdit) {
    <button
      mat-raised-button
      class="wish-action-button"
      color="primary"
      (click)="editWish(wishItem)"
      [disabled]="readOnly"
    >
      Modifier
    </button>
    }
  </mat-card-actions>
</mat-card>
