<!--<app-flip-card [flip]="edit">-->


<mat-card class="wish-card flip-front " fxLayout="column" fxLayoutAlign="space-between stretch"
          [@animateWishCard]="animateWishCard">
  <mat-card-header fxLayout="column" fxLayoutAlign="space-between stretch">
    <div class="header-success" fxLayout="row" fxLayoutAlign="space-between center">
      <span class="col-9">{{wishItem.label}}</span>
      <mat-icon class="col-1 push-right">favorite</mat-icon>
      <mat-icon class="col-1 push-right">delete</mat-icon>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between stretch">
      <div class="owner">
        <ngx-avatar [name]="wishItem.owner.name" [gravatarId]="wishItem.owner.email" size="20" [round]="true">
        </ngx-avatar>
        <span class="ownerName">{{wishItem.owner.name}}</span>
      </div>
      <span>{{wishItem.date | date: 'short'}}</span>
    </div>
  </mat-card-header>

  <swiper class="swiper-container card-image" [useSwiperClass] [config]="SWIPER_CONFIG" *ngIf="wishItem.pictures && wishItem.pictures.length > 1">
    <div class="swiper-slide" *ngFor="let picture of wishItem.pictures">
      <img data-src="{{picture}}" alt="{{wishItem.label}}" class="swiper-lazy" width="300" height="300">
      <div class="swiper-lazy-preloader"></div>
    </div>
  </swiper>
  <div class="swiper-slide" *ngIf="wishItem.pictures && wishItem.pictures.length == 1">
    <img data-src="{{wishItem.pictures[0]}}" alt="{{wishItem.label}}" class="swiper-lazy" width="300" height="300">
  </div>

  <mat-card-content fxLayout="column" fxLayoutAlign="space-between stretch">
    <p [innerHTML]="wishItem.description">
    </p>



    <mat-chip-list *ngIf="wishItem.price">
      <mat-chip color="primary">{{wishItem.price}}</mat-chip>
    </mat-chip-list>

    <app-rating *ngIf="wishItem.rating" [value]="wishItem.rating" [readonly]="true"></app-rating>


    <div fxLayout="column" fxLayoutAlign="space-around stretch">
      <a [href]="url.url" *ngFor="let url of wishItem.urls" target="_blank" mat-raised-button [matTooltip]="url.url">{{url.name? url.name : 'lien'}}</a>
    </div>

    <mat-expansion-panel *ngIf="wishItem.canParticipate" class="mat-elevation-z">
      <mat-expansion-panel-header>
        <mat-chip>{{wishItem.comments? wishItem.comments.length : 0}}</mat-chip>
        {{wishItem.comments && wishItem.comments.length > 1 ? 'Commentaires' : 'Commentaire'}}
      </mat-expansion-panel-header>

      <mat-list *ngIf="wishItem.comments && wishItem.comments.length > 0">
        <mat-list-item *ngFor="let comment of wishItem.comments"> {{comment.text}}</mat-list-item>
      </mat-list>


      <mat-action-row *ngIf="wishItem.canParticipate">
        <span>
          <mat-form-field class="example-full-width">
            <textarea matInput placeholder="ajouter un commentaire"></textarea>
          </mat-form-field>
        </span>
        <span>
          <button mat-button>Comment</button>
        </span>

      </mat-action-row>

    </mat-expansion-panel>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="accent" *ngIf="!wishItem.allreadyGiven && wishItem.canParticipate">Offrir</button>
    <button mat-raised-button color="primary" *ngIf="wishItem.canEdit" (click)="editWish()">Modifier</button>
  </mat-card-actions>

</mat-card>

<!--
  <mat-card class="wish-card flip-back">

    <app-wish-edit [wishItem]="wishItem"></app-wish-edit>


    <mat-card-actions>
      <button mat-button (click)="cancelEditWish()">Cancel</button>
      <button mat-button>Modifier</button>
    </mat-card-actions>
  </mat-card>

</app-flip-card>
-->
