<h1>Créer une nouvelle liste</h1>
<mat-horizontal-stepper [linear]="isLinear" #stepper="matHorizontalStepper">
  <mat-step [stepControl]="nameFormGroup">
    <ng-template matStepLabel>Entrer un nom pour votre liste</ng-template>
    <form class="grid">
      <div class="row">
        <div class="col-6 grid--between">
          <mat-form-field class="col-12" appearance="outline">
            <mat-label>Titre</mat-label>
            <input
              matInput
              [(ngModel)]="wishList.title"
              placeholder="Liste pour ..."
              name="title"
              required
              (ngModelChange)="changeName($event)"
            />
          </mat-form-field>
          <mat-form-field class="col-12" appearance="outline">
            <mat-label>Type d'événements</mat-label>
            <mat-select
              [(value)]="wishList.type"
              placeholder="Pour quel évènement ?"
              name="type"
              (selectionChange)="onChanges($event)"
            >
              <mat-select-trigger
                ><list-type-icon [type]="wishList.type"></list-type-icon>
                {{ wishListLabel[wishList.type] }}</mat-select-trigger
              >
              <mat-option
                *ngFor="let item of (testObject | keyvalue)"
                value="OTHER"
                selected
                >Autre</mat-option
              >
              <mat-option value="CHRISTMAS">Noël</mat-option>
              <mat-option value="BIRTHDAY">Anniversaire</mat-option>
              <mat-option value="BIRTH">Liste de naissance</mat-option>
              <mat-option value="WEDDING">Liste de mariage</mat-option>
              <mat-option value="LEAVING">Liste pour un départ</mat-option>
              <mat-option value="SPECIAL_OCCASION"
                >Occasion spéciale</mat-option
              >
            </mat-select>
          </mat-form-field>

          <mat-form-field class="col-12 wish-list-url" appearance="outline">
            <span matPrefix>https://liste-envie.desaintsteban.fr/</span>
            <mat-label>Url de la liste</mat-label>
            <input
              matInput
              type="text"
              name="id"
              [ngModel]="wishList.name"
              (ngModelChange)="onChanges($event)"
            />
          </mat-form-field>
        </div>
        <div class="col-6">
          <app-html-editor
            #description
            [(content)]="wishList.description"
            placeholder="Description de l'envie"
            name="description"
            (contentChange)="onChanges($event)"
          ></app-html-editor>
          <mat-hint
            >Vous pouvez donner plus de details sur votre liste.</mat-hint
          >
        </div>
      </div>
    </form>
    <div><button mat-button matStepperNext>Suivant</button></div>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form>
      <ng-template matStepLabel>Partager la liste à : </ng-template>
      <form class="grid ">
        <div class="row">
          <div class="col6 grid--between">
            <div class="col-12">
              <mat-label>Privacy</mat-label>
              <mat-radio-group
                [(ngModel)]="wishList.privacy"
                name="privacy"
                (ngModelChange)="onChangesPrivacy($event)"
              >
                <mat-radio-button value="PRIVATE"
                  >Limité / Privé</mat-radio-button
                >
                <mat-radio-button value="OPEN"
                  >Ouvert / connecté</mat-radio-button
                >
                <mat-radio-button value="PUBLIC"
                  >Libre / Publique</mat-radio-button
                >
              </mat-radio-group>
            </div>

            <div class="col-12">
              <mat-checkbox
                [(ngModel)]="wishList.forceAnonymus"
                [labelPosition]="left"
              >
                Force anonyme
              </mat-checkbox>
            </div>
          </div>
          <div class="col6 grid--between">
            <mat-form-field appearance="outline">
              <input matInput placeholder="Email" required name="email" />
            </mat-form-field>
          </div>
        </div>
      </form>

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Options de la liste</ng-template>

    <form class="grid--between">
      <div class="col6 grid--between">
        <mat-form-field>
          <mat-label>Thème </mat-label>
          <input
            matInput
            placeholder="Images personnalisé d'arrières plan"
            name="pictures"
          />
        </mat-form-field>
      </div>
      <div class="col6 grid--between">
        <mat-form-field appearance="outline">
          <input matInput placeholder="Email" required name="email" />
        </mat-form-field>
      </div>
    </form>

    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Créer votre liste</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
<mat-divider></mat-divider>
<mat-toolbar color="primary">
  <span>Aperçu de la liste</span> <span class="toolbar-spacer"></span>

  <span>En tant que</span>
  <mat-button-toggle-group
    #previewAs="matButtonToggleGroup"
    [value]="previewAs"
    (change)="onChangePreview($event)"
  >
    <mat-button-toggle value="OWNER">
      <mat-icon>format_align_left</mat-icon> Propriétaire
    </mat-button-toggle>
    <mat-button-toggle value="REGISTRER">
      <mat-icon>format_align_center</mat-icon> Participant
    </mat-button-toggle>
    <mat-button-toggle value="PUBLIC">
      <mat-icon>format_align_right</mat-icon> Public
    </mat-button-toggle>
  </mat-button-toggle-group>
</mat-toolbar>

<app-list [list]="demoList" [items]="demoWhishs" [demo]="true"></app-list>
