<div>

  <mat-card>
    <section class="mat-typography">
      <h1>Bonjour, Patrice! Bienvenue sur votre liste des envies</h1>
      <a mat-raised-button color="primary" href="/user/login">Connexion</a>
    </section>
  </mat-card>

  <span class="done">
    <button mat-fab>
      <mat-icon>add</mat-icon>
    </button>
  </span>
  <div class="whishList-Container">
    <mat-card class="wishList" *ngFor="let wishList of (list | async)" [routerLink]="[wishList.name]">
      {{wishList.title}}
    </mat-card>
  </div>


</div>
