<div class="dialog-header">
  <div class="dialog-title-text">
    <mat-icon class="dialog-title-icon">login</mat-icon>
    <span mat-dialog-title>Connexion / inscription</span>
  </div>
  <div class="dialog-title-close">
    <button
      mat-icon-button
      mat-dialog-close
      class="close-btn"
      matTooltip="Close"
      matTooltipPosition="left"
      (click)="successCallback(false)"
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
<mat-dialog-content>
  <div class="row" *ngIf="data?.message">
    <div class="col-12 message">
      {{ data?.message }}
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p class="login-dialog-connexion">
        Connectez-vous ou créez un compte avec l'un des fournisseurs suivants :
      </p>
      <div class="auth-providers">
        <button
          mat-raised-button
          color="primary"
          (click)="signInWithGoogle()"
          class="provider-button"
        >
          <mat-icon>login</mat-icon>
          Se connecter avec Google
        </button>
        <button
          mat-raised-button
          color="accent"
          (click)="signInWithFacebook()"
          class="provider-button"
        >
          <mat-icon>login</mat-icon>
          Se connecter avec Facebook
        </button>
      </div>
      <p class="login-dialog-subdescription">
        Si vous aviez déjà un compte sur la version 1 de liste d'envies, vous
        devez utiliser la connexion via votre compte Google.
      </p>
    </div>
  </div>
</mat-dialog-content>

<!--
signInTabText="Se connecter"
                      signInCardTitleText="Connectez-vous"

forgotPasswordButtonText="Mot de passe oublié ?"
                      nameText="Nom"
                      nameErrorRequiredText="Le nom est requis"
                      nameErrorMinLengthText="Le nom est trop court !"
                      nameErrorMaxLengthText="Le nom est trop long !"
registerTabText="Créer un compte"
                      registerCardTitleText="Enregistrement"
                      registerButtonText="Créer"
                      guestButtonText="continuer en tant qu'invité"
                      resetPasswordTabText="Réinitialisation du mot de passe par email"
                      resetPasswordInputText="Réinitialisation du mot de passe par email"
                      resetPasswordErrorRequiredText="Un email est requis pour réinitialiser le mot de passe !"
                      resetPasswordErrorPatternText="S'il vous plaît, mettez une adresse email valide"
                      resetPasswordActionButtonText="Réinitialiser"
                      resetPasswordInstructionsText="Réinitialisation demandée. Suivez les instructions du courrier électronique qui vous a été envoyé."
                      emailConfirmationTitle="Confirmez votre adresse email !"
                      emailConfirmationText="Un email de confirmation vous a été envoyé.\n   Vérifiez votre boîte de réception et cliquez sur le lien Confirmer mon adresse e-mail pour confirmer votre adresse email."
-->
